/*===============For Builder=============*/
/*Left center*/
.small{
  position: absolute;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  left: 360px;
  right: auto;
  top: 150px;
  bottom: auto;
  background-color: rgb(0, 159, 225);
  width: 97px;
  text-align: center;
}
/*Left center*/
.medium{
  position: absolute;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  left: 333px;
  right: auto;
  top: 150px;
  bottom: auto;
  background-color: rgb(0, 159, 225);
  text-align: center;
  width: 150px;
}
/*Left center*/
.large{
  position: absolute;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  left: 308px;
  right: auto;
  top: 180px;
  bottom: auto;
  background-color: rgb(0, 159, 225);
  text-align: center;
  width: 200px;
}

/*Right center*/
.small{
  position: absolute;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  left: 1100px;
  right: auto;
  top: 150px;
  bottom: auto;
  background-color: rgb(0, 159, 225);
  width: 97px;
  text-align: center;
}
/*Right center*/
.medium{
  position: absolute;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  left: 1074;
  right: auto;
  top: 150px;
  bottom: auto;
  background-color: rgb(0, 159, 225);
  text-align: center;
  width: 150px;
}
/*Right center*/
.large{
  position: absolute;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  left: 1049px;
  right: auto;
  top: 180px;
  bottom: auto;
  background-color: rgb(0, 159, 225);
  text-align: center;
  width: 200px;
}





/*===============For Desktop=============*/
/*Left center*/
.small{
  width: 97px;
  text-align: center;
  left: -29px;
  top: 185px;
}
/*Left center*/
.medium{
  width: 150px;
  text-align: center;
  left: -56px;
  top: 240px;
}
/*Left center*/
.large{
  width: 200px;
  text-align: center;
  left: -81px;
  top: 234px;
}

/*Right center*/
.small{
  width: 97px;
  text-align: center;
  right: -29px;
  top: 185px;
}
/*Right center*/
.medium{
  width: 150px;
  text-align: center;
  right: -56px;
  top: 240px;
}
/*Right center*/
.large{
  width: 200px;
  text-align: center;
  right: -81px;
  top: 234px;
}