.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
#ctf-butt-contact{
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 9px;
    border-radius: 4px 0 0 4px;
}
#ctf-butt-contact:after{
    content: " ";
    width: 39px;
    height: 39px;
    background: url("../img/ic-button-contact.png");
    position: absolute;
    right: -40px;
    top: 0;
}
#ctf-butt-contact:hover{
    text-decoration: none;
}
#ctf-demo,
#ctf-demo-classic {
    height: auto;
    left: auto;
    pointer-events: auto;
    position: static;
    top: auto;
    width: auto;
    z-index: auto;
    padding: 30px;
}

#ctf-demo .ctf-wrapper {
    display: block;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #9A9A9A;
    position: relative;
    height: auto;
    width: 550px;
    margin: 30px auto;
    padding: 0;
    left: auto;
    top: auto;
    opacity: 1;
    z-index: auto;
    pointer-events: auto;
    overflow: visible;
}
#ctf-demo .ctf-wrapper .ctf-content {
    height: inherit;
    /*width: 480px;*/
    background-color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    pointer-events: auto;
}
#ctf-demo > .ctf-wrapper .ctf-head-title {
    position: relative;
    background-color: #009fe1;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    padding: 10px 0;
}
#ctf-demo > .ctf-wrapper .ctf-head-title h2{
    font-size: 20px;
    color: #fff;
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}
#ctf-demo > .ctf-wrapper .ctf-content .ctf-inner-content{
    padding: 10px 35px 35px;
}
#ctf-demo > .ctf-wrapper .ctf-content .ctf-inner-content > form{
    position: relative;
    display: block;
}

#ctf-demo > .ctf-wrapper .ctf-orientation {
    float: left;
}

#ctf-demo > .ctf-wrapper .ctf-icon-small {
    display: inline-block;
    overflow: auto;
    background-repeat: no-repeat;
    background-image: url("../img/temp-fields.png");
    background-size: 28px 420px;
    background-position: 0 0;
    background-position-x: 0;
    background-position-y: 0;
}

/* icon label */
#ctf-demo > .ctf-wrapper .ctf-icon-person {
    background-position: left 0px top -180px;
    background-position-x: 0px;
    background-position-y: -180px;
}

#ctf-demo > .ctf-wrapper .ctf-icon-email {
    background-position: left 0px top -223px;
    background-position-x: 0px;
    background-position-y: -223px;
}

#ctf-demo > .ctf-wrapper .ctf-icon-phone {
    background-position: left 0px top -46px;
    background-position-x: 0px;
    background-position-y: -46px;
}

#ctf-demo > .ctf-wrapper .ctf-icon-bag {
    background-position: left 0px top -135px;
    background-position-x: 0px;
    background-position-y: -135px;
}

#ctf-demo > .ctf-wrapper .ctf-icon-global {
    background-position: left 0px top -1px;
    background-position-x: 0px;
    background-position-y: -1px;
}

#ctf-demo > .ctf-wrapper .ctf-icon-star {
    background-position: left 0px top -89px;
    background-position-x: 0px;
    background-position-y: -89px;
}

#ctf-demo > .ctf-wrapper .ctf-icon-pencil {
    background-position: left 0px top -268px;
    background-position-x: 0px;
    background-position-y: -268px;
}

#ctf-demo > .ctf-wrapper .ctf-field {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000000;
    position: relative;
    height: 32px;
    border: 1px solid #d8d8d8;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    padding-top: 0;
    padding-right: 10px !important;
    padding-bottom: 0;
    padding-left: 36px !important;

    border-left: 1px solid #d8d8d8;
    text-align: left;

    -moz-box-sizing: padding-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#ctf-demo > .ctf-wrapper .ctf-field:before{
    content: "";
    background-color: #f6f6f6;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

#ctf-demo > .ctf-wrapper .ctf-field::-webkit-input-placeholder {
    color: #717171;
}

#ctf-demo > .ctf-wrapper .ctf-field:-moz-placeholder {
    color: #000;
}

#ctf-demo > .ctf-wrapper .ctf-field::-moz-placeholder {
    color: #000;
}

#ctf-demo > .ctf-wrapper .ctf-field:-ms-input-placeholder {
    color: #929292;
}

#ctf-demo > .ctf-wrapper .ctf-field:focus {
    outline: none;
    box-shadow: none !important;
    border-color: #00ADE9;
}

#ctf-demo > .ctf-wrapper .ctf-field[data-required="true"] {
    border-left-width: 2px;
    border-left-color: #00ADE9;
}

#ctf-demo > .ctf-wrapper .ctf-field.ctf-half-size {
    width: 231px;
    height: 30px;
}

#ctf-demo > .ctf-wrapper .ctf-field.ctf-half-size[data-required="true"] {
    width: 230px;
}

#ctf-demo > .ctf-wrapper .ctf-field.ctf-half-size:nth-of-type(2n+0) {
    margin: 5px 0;
}

#ctf-demo > .ctf-wrapper .ctf-field.ctf-half-size:nth-of-type(2n+1) {
    margin-top: 5px;
    margin-right: 17px;
    margin-bottom: 5px;
    margin-left: 0;
}

#ctf-demo > .ctf-wrapper .ctf-field.ctf-full-size[data-required="true"] {
    width: 476px;
}

#ctf-demo > .ctf-wrapper .ctf-field.ctf-full-size {
    width: 477px;
    margin: 5px 0;
}

#ctf-demo > .ctf-wrapper .ctf-field-message {
    height: 110px;
    padding-top: 7px;
    resize: vertical;
    overflow: auto;
}

#ctf-demo > .ctf-wrapper .ctf-button {
    border: none;
    padding: 0 10px;
    margin-top: 9px;
    position: relative;
    width: auto;
    height: 34px;
    text-decoration: none;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: center;

    background-color: #009fe1;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.6);

    cursor: pointer;
}

/*#ctf-demo > .ctf-wrapper .ctf-button:hover {
    background-color: #23d0ff;
}

#ctf-demo > .ctf-wrapper .ctf-button:active {
    top: 0;
    outline: none !important;
}

#ctf-demo > .ctf-wrapper .ctf-button:active:before {
    top: 50%;
    margin-top:-12px;
}*/

#ctf-demo > .ctf-wrapper .ctf-button span {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    pointer-events: none;
}

#ctf-demo > .ctf-wrapper span.ctf-tel{
    margin-top: 18px;
    margin-left: 10px;
    font-size: 13px;
    font-weight: 600;
    color: #6c6c6c;
}
#ctf-demo > .ctf-wrapper .ctf-logo{
    position: absolute;
    top: 2px;
    left: 35px;
}
#ctf-demo > .ctf-wrapper .ctf-form-img{
    margin-top: 18px;
    margin-right: 5px;
}
#ctf-demo > .ctf-wrapper .ctf-right{
    float: right;
}

/*-------------Classic Form--------------*/
#ctf-demo-classic{
    
}
#ctf-demo-classic > .ctf-wrapper{
    display: block;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #9A9A9A;
    position: relative;
    height: auto;
    width: 570px;
    margin: 30px auto;
    padding: 0;
    left: auto;
    top: auto;
    opacity: 1;
    z-index: auto;
    pointer-events: auto;
    overflow: visible;
    
    background-image: url("../img/bg-outer-classic.png");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
}
#ctf-demo-classic > .ctf-wrapper .ctf-content{
    background-color: #fdfac5;
    margin: 13px;
    display: inline-block;
    box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.75);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-head-title {
    position: relative;
    background-color: transparent;
    padding: 25px 0 0;
}
#ctf-demo-classic > .ctf-wrapper .ctf-head-title h2{
    font-size: 25px;
    font-weight: 600;
    color: #6c6c6c;
    display: block;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
}
#ctf-demo-classic > .ctf-wrapper .ctf-content .ctf-inner-content{
    padding: 20px 25px 35px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-content .ctf-inner-content > form{
    position: relative;
    display: block;
}
#ctf-demo-classic > .ctf-wrapper .ctf-orientation {
    float: left;
}
#ctf-demo-classic > .ctf-wrapper .ctf-icon-small {
    display: inline-block;
    overflow: auto;
    background-repeat: no-repeat;
    background-image: url("../img/temp-fields.png");
    background-size: 28px 420px;
    background-position: 0 0;
    background-position-x: 0;
    background-position-y: 0;
}
/* icon label */
#ctf-demo-classic > .ctf-wrapper .ctf-icon-person {
    background-position: left 0px top -180px;
    background-position-x: 0px;
    background-position-y: -180px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-icon-email {
    background-position: left 0px top -223px;
    background-position-x: 0px;
    background-position-y: -223px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-icon-phone {
    background-position: left 0px top -46px;
    background-position-x: 0px;
    background-position-y: -46px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-icon-bag {
    background-position: left 0px top -135px;
    background-position-x: 0px;
    background-position-y: -135px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-icon-global {
    background-position: left 0px top -1px;
    background-position-x: 0px;
    background-position-y: -1px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-icon-star {
    background-position: left 0px top -89px;
    background-position-x: 0px;
    background-position-y: -89px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-icon-pencil {
    background-position: left 0px top -268px;
    background-position-x: 0px;
    background-position-y: -268px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-field {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000000;
    position: relative;
    height: 32px;
    border: 1px solid #d8d8d8;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    padding-top: 0;
    padding-right: 10px !important;
    padding-bottom: 0;
    padding-left: 36px !important;

    border-left: 1px solid #d8d8d8;
    text-align: left;

    -moz-box-sizing: padding-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#ctf-demo-classic > .ctf-wrapper .ctf-field::-webkit-input-placeholder {
    color: #717171;
}
#ctf-demo-classic > .ctf-wrapper .ctf-field:-moz-placeholder {
    color: #000;
}
#ctf-demo-classic > .ctf-wrapper .ctf-field::-moz-placeholder {
    color: #000;
}
#ctf-demo-classic > .ctf-wrapper .ctf-field:-ms-input-placeholder {
    color: #929292;
}
#ctf-demo-classic > .ctf-wrapper .ctf-field:focus {
    outline: none;
    box-shadow: none !important;
    border-color: #00ADE9;
}
#ctf-demo-classic > .ctf-wrapper .ctf-field.ctf-half-size {
    width: 237px;
    height: 30px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-field.ctf-half-size:nth-of-type(2n+0) {
    margin: 5px 0;
}
#ctf-demo-classic > .ctf-wrapper .ctf-field.ctf-half-size:nth-of-type(2n+1) {
    margin-top: 5px;
    margin-right: 17px;
    margin-bottom: 5px;
    margin-left: 0;
}
#ctf-demo-classic > .ctf-wrapper .ctf-field.ctf-full-size {
    width: 491px;
    margin: 5px 0;
}
#ctf-demo-classic > .ctf-wrapper .ctf-field-message {
    height: 110px;
    padding-top: 7px;
    resize: vertical;
    overflow: auto;
}
#ctf-demo-classic > .ctf-wrapper .ctf-button {
    border: 1px dashed #fff;
    padding: 0 15px;
    margin-top: 9px;
    position: relative;
    width: auto;
    text-decoration: none;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: center;
    background-color: #e14c3f;
    cursor: pointer;
}
#ctf-demo-classic > .ctf-wrapper .ctf-button span {
    display: inline-block;
    font-family: "Century Gothic", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    pointer-events: none;
}

#ctf-demo-classic > .ctf-wrapper span.ctf-tel{
    margin-top: 18px;
    margin-left: 10px;
    font-size: 13px;
    font-weight: 600;
    color: #6c6c6c;
}

#ctf-demo-classic > .ctf-wrapper .ctf-logo{
    position: absolute;
    top: 21px;
    left: 23px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-form-img{
    margin-top: 18px;
    margin-right: 5px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-right{
    float: right;
}