ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
/*custom core*/
.navbar-default{
    min-height: 70px;
    background-color: #fff;
    border-color: transparent;
    margin-bottom: 0 !important;
}
.navbar-default .navbar-toggle{
    margin-top: 18px;
}
.nav-pills > li > a{
    color: #fff;
    transition: opacity 0.4s ease;
}
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
    color: #fff;
    background-color: transparent !important;
    opacity: .6;
}
#menu-collapse{
    margin-top: 7px;
}
/*-----------*/

/*margin core*/
.m-top{
    margin-top: 10px;
}
.margin-md-top-bottom{
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}
.margin-md-top{
    margin-top: 50px !important;
}
.margin-md-bottom{
    margin-bottom: 50px !important;
}
.margin-md-left{
    margin-left: 50px !important;
}
.margin-md-right{
    margin-right: 50px !important;
}


.margin-sm-top-bottom{
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
.margin-sm-top{
    margin-top: 30px !important;
}
.margin-sm-bottom{
    margin-bottom: 30px !important;
}
.margin-sm-left{
    margin-left: 30px !important;
}
.margin-sm-right{
    margin-right: 30px !important;
}

.margin-top-bottom-remove{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.margin-top-remove{
    margin-top: 0 !important;
}
.margin-bottom-remove{
    margin-bottom: 0 !important;
}
.margin-left-remove{
    margin-left: 0 !important;
}
.margin-right-remove{
    margin-right: 0 !important;
}
/*-----------*/

/*caption slide*/
.home-banner-tt{
    font-size: 35px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.home-banner-sv{
    background-color: rgba(255,255,255,.2);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
}
.btn-start a{
    height: 50px;
    color: #fff !important;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    padding: 4px 20px 0;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    border-radius: 3px;
    line-height:38px;
    box-shadow: 0px -3px 1px rgba(0, 0, 0, 0.45) inset;
    font-size: 20px;
    font-weight: bold;
    background-color: #428bca;
}
.btn-start a:active{
    color: #F9F9F9 !important;
    line-height: 38px;
    position: relative;
    text-shadow: 0pt 1px 0pt rgba(0, 0, 0, 0.1);
    top: 2px;
}


/*-----Main-----*/
body{
    font-family: "Century Gothic", Arial, Helvetica, sans-serif;
}
#top{
    background-color: #1b1b1e;
    min-height: 45px;
    width: 100%;
}
/*--------------*/

/*quote-item*/
.quote-item{
    background-color: #82b540;
    position: relative;
    padding: 10px;
    margin-top: 30px;
}
.quote-img{
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 5;
}
.quote-content{
    color: #fff;
    margin-left: 60px;
    margin-right: 10px;
    font-size: 15px;
}

/*feature*/
#feature{
    background: #f8f8f8 url("../img/subtlenet2.png") repeat;
    position: relative;
    z-index: 1;
}
.feature-item{
    margin-top: 15px;
}
.feature-title h3{
    font-size: 20px;
    color: #009fe1;
}
.feature-content{
    background-color: #fff;
    padding: 10px 20px 10px;
    text-align: center;
    position: relative;
}
.feature-content:after,
.feature-content:before{

    -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.5);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 15px;
    z-index: -1;
    width: 50%;
    height: 20%;
    content: "";
    background: rgba(0, 0, 0, 0.7);
    border-radius:10px;
}
.feature-content:before{
    left:10px;
    -moz-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -ms-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
    transform:rotate(-3deg);
}
.feature-content:after{
    right:10px;
    -moz-transform:rotate(3deg);
    -webkit-transform:rotate(3deg);
    -ms-transform:rotate(3deg);
    -o-transform:rotate(3deg);
    transform:rotate(3deg);
}
#slogan{
    width: 100%;
    background-color: rgba(1,101,186,0.05);
}
.slg-center{
    font-size: 27px;
    color: #3c3c3c;
    margin-top: 27px !important;
    margin-bottom: 27px !important;
}
.get-start{
    text-align: center;
}
.get-start a{
    font-size: 0;
    display: inline-block;
}
.find-out h3{
    font-size: 27px;
    color: #3c3c3c;
}
.find-out h3 a{
    color: #00c8ff;
}
.find-out h3 a:hover{
    text-decoration: none;
    color: #4DD8FF;
}

/*banner*/
.banner-feature{
    background: url("../img/feature-banner.jpg") no-repeat;
    background-size: cover;
    min-height: 248px;
}
.banner-pricing{
    background: url("../img/pricing-banner.jpg") no-repeat;
    background-size: cover;
    min-height: 248px;
}
.banner-content h1{
    font-size: 63px;
    color: #fff;
}
.banner-content h3{
    font-size: 35px;
    color: #fff;
}
.banner-content p{
    font-size: 28px;
    color: #fff;
}

/*my button*/
.my_button{
    color: white;
    display: inline-block;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    margin: 0 15px;
    width: 250px;
    font-weight: bold;
    border-radius: 3px;
    text-shadow:0 1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0px -3px 1px rgba(0, 0, 0, 0.45) inset, 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.my_button:hover{
    text-decoration: none;
    color: #fff;
}
.my_button:active{
    box-shadow: 0pt 0pt 5px rgba(0, 0, 0, 0.5) inset, 0pt -5px 10px rgba(255, 255, 255, 0.1) inset;
    color: #F9F9F9;
    line-height: 60px;
    position: relative;
    text-shadow: 0pt 1px 0pt rgba(0, 0, 0, 0.1);
    top: 2px;
}
.monthly-btn{
    background-color: #009fe1;
}
.yearly-btn{
    background-color: #6e6e6e;
}

/*feature-detail*/
.feat-dt-second{
    padding: 15px 0;
    background: -moz-linear-gradient(left,  rgba(254,254,255,0.05) 0%, rgba(1,101,186,0.05) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(254,254,255,0.05)), color-stop(100%,rgba(1,101,186,0.05)));
    background: -webkit-linear-gradient(left,  rgba(254,254,255,0.05) 0%,rgba(1,101,186,0.05) 100%);
    background: -o-linear-gradient(left,  rgba(254,254,255,0.05) 0%,rgba(1,101,186,0.05) 100%);
    background: -ms-linear-gradient(left,  rgba(254,254,255,0.05) 0%,rgba(1,101,186,0.05) 100%);
    background: linear-gradient(to right,  rgba(254,254,255,0.05) 0%,rgba(1,101,186,0.05) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dfefeff', endColorstr='#0d0165ba',GradientType=1 );

}
.feat-detail-content h1{
    color: #343434;
    font-size: 34px;
    font-weight: bold;
}
.feat-detail-content p{
    font-size: 23px;
    color: #353535;
}

/*pricing-block*/
.pricing-block{
}
.block-1{
    background-color: #f96450;
}
.block-2{
    background-color: #309aec;
}
.block-3{
    background-color: #82b53f;
}
.pricing-block-head{
    position: relative;
    min-height: 128px;
}
.pricing-block-head h3{
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
}
.price-circle{
    width: 130px;
    height: 130px;
    background: url("../img/circle.png") no-repeat;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.price-circle h4{
    display: inline-block;
    font-size: 23px;
    color: #545454;
    font-weight: bold;
    width: 100%;
    margin-top: 40px;
}
.price-circle span{
    display: inline-block;
    font-size: 13px;
    color: #545454;
    font-weight: bold;
}
.pricing-block-body{
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    min-height: 542px;
}
.pricing-bd-first{
    background-color: #f6f6f6;
    padding: 52px 0 20px;
}
.pricing-bd-first h3{
    width: 100%;
    display: inline-block;
    color: #545454;
    font-size: 20px;
    font-weight: bold;
}
.btn-pri-signup{
    color: white;
    display: inline-block;
    height: 31px;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin: 0 15px;
    width: 80px;
    font-weight: bold;
    border-radius: 3px;
    text-shadow:0 1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0px -3px 1px rgba(0, 0, 0, 0.45) inset, 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.btn-pri-signup:hover{
    text-decoration: none;
    color: #fff;
}
.btn-pri-signup:active{
    box-shadow: 0pt 0pt 5px rgba(0, 0, 0, 0.5) inset, 0pt -5px 10px rgba(255, 255, 255, 0.1) inset;
    color: #F9F9F9;
    line-height: 28px;
    position: relative;
    text-shadow: 0pt 1px 0pt rgba(0, 0, 0, 0.1);
    top: 2px;
}
.sign-1{
    background-color: #f96450;
}
.sign-2{
    background-color: #009fe1;
}
.sign-3{
    background-color: #82b53f;
}
.pricing-bd-first span{
    display: inline-block;
    font-size: 20px;
    color: #545454;
    width: 100%;
    margin-top: 10px;
}
.pricing-bd-second ul li{
    padding: 10px 30px;
    font-size: 15px;
    color: #545454;
}
.pricing-bd-second ul li:nth-child(even){
    background-color: #f6f6f6;
}
.pricing-block-foot a{
    background-color: #009fe1;
    color: #fff;
    font-size: 18px;
    width: 100%;
    display: block;
    padding: 23px 0;
    transition: opacity 0.4s ease;
}
.pricing-block-foot a:hover{
    text-decoration: none;
    opacity: .8;
}

/*qa-item*/
.qa-item{
    min-height: 100px;
}
.qa-item h3{
    font-size: 20px;
    color: #343434;
    font-weight: bold;
}
.qa-item p{
    font-size: 16px;
    color: #343434;
}

/*my-form*/
.login-panel{
    margin: 150px 0;
    box-shadow: 0px 0px 7px 3px rgba(119, 119, 119, 0.3);
    -moz-box-shadow: 0px 0px 7px 3px rgba(119, 119, 119, 0.3);
    -webkit-box-shadow: 0px 0px 7px 3px rgba(119, 119, 119, 0.3);
    border-radius: 7px;
    font-family: "Arial";
}
.my-form-bd{
    padding: 0 45px 15px !important;
}
#my-login{
    border: none;
}
.btn-login{
    background-color: #009fe1;
    color: white;
    display: inline-block;
    height: 42px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    text-shadow:0 1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0px -3px 1px rgba(0, 0, 0, 0.45) inset;
}
.btn-login:hover{
    text-decoration: none;
    color: #fff;
}
.btn-login:active{
    box-shadow: 0pt 0pt 5px rgba(0, 0, 0, 0.5) inset, 0pt -5px 10px rgba(255, 255, 255, 0.1) inset;
    color: #F9F9F9;
    line-height: 20px;
    position: relative;
    text-shadow: 0pt 1px 0pt rgba(0, 0, 0, 0.1);
    top: 2px;
}
.btn-login:focus,
.btn-login:active:focus,
.btn-login.active:focus {
    outline: none;
    color: #fff;
}

.an-acc{
    font-size: 13px;
    color: #888787;
}
.forgot-pass{
    color: #888787;
    font-size: 13px;
    text-decoration: underline;
}
.sign-up-now{
    color: #009fe1;
    font-size: 13px;
    text-decoration: underline;
}
.line{
    width: 100%;
    margin-top: 30px;
    border-top: 1px solid #ccc;
    text-align: center;
    position: relative;
}
.line span{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: inline;
    width: 50%;
    background-color: #fff;
    margin-top: -10px;
    font-size: 13px;
    color: #888787;
}
a.example{
    width: 86%;
    height: 40px;
    display: inline-block;
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    padding: 4px 20px 0;
    margin: 10px auto;
    left: 30px;
    position: relative;
    cursor: pointer;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    line-height:28px;
    box-shadow: 0px -3px 1px rgba(0, 0, 0, 0.45) inset;
}
a.facebook{
    background: #3B5999;
}
a.google-plus {
    background: #f75e3b;
}
a.example:active{
    box-shadow: 0pt 0pt 5px rgba(0, 0, 0, 0.5) inset, 0pt -5px 10px rgba(255, 255, 255, 0.1) inset;
    color: #F9F9F9;
    line-height: 28px;
    position: relative;
    text-shadow: 0pt 1px 0pt rgba(0, 0, 0, 0.1);
    top: 3px;
}
a.example:before{
    content: "";
    width: 35px;
    height: 40px;
    display: block;
    position: absolute;
    padding-top: 10px;
    line-height: 20px;
    top: 0px;
    margin-left: -54px;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0px -3px 1px rgba(0, 0, 0, 0.45) inset;
}
a.facebook:before{
    background: #345194 url("../img/face-ic.png") no-repeat scroll  center;
}
a.google-plus:before {
    background: #f8492a url("../img/ggplus-ic.png") no-repeat scroll  center;
}
a.facebook:active:before,
a.google-plus:active:before{
    box-shadow: 0pt 0pt 5px rgba(0, 0, 0, 0.5) inset, 0pt -5px 10px rgba(255, 255, 255, 0.1) inset;
}

/*own-contact-form*/
#my-contact{
    width: 100%;
    box-shadow: inset 0px 2px 3px 0px rgba(119, 119, 119, 0.64);
    -moz-box-shadow: inset 0px 2px 3px 0px rgba(119, 119, 119, 0.64);
    -webkit-box-shadow: inset 0px 2px 3px 0px rgba(119, 119, 119, 0.64);
    padding-bottom: 80px;
}
#color{
    border: none;
    border-radius: 3px;
    display: inline-block;
    padding: 10px 0;
    text-align: center;
}
.title-contact-page{
    font-size: 35px;
    color: #009fe1;
}
#own-contact-form{
    border: 1px solid #c0c0c0;
    background-color: #e2e2e2;
}
.color-picker{
    position: relative;
}
#colorpicker{
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 999;
    display: none;
}
#btn-position input[type="radio"]{
    display: none;
}
.title-builder{
    font-size: 16px;
    color: #4a4a4a;
    font-weight: 600;
}

.b-left-center{
    width: 36px;
    height: 36px;
    background: url("../img/1.png") no-repeat;
    cursor: pointer;
}
.b-left-center.atv{
    width: 36px;
    height: 36px;
    background: url("../img/1_selected.png") no-repeat;
    cursor: pointer;
}
.b-left-bottom{
    width: 36px;
    height: 36px;
    background: url("../img/2.png") no-repeat;
    cursor: pointer;
}
.b-left-bottom.atv{
    width: 36px;
    height: 36px;
    background: url("../img/2_selected.png") no-repeat;
    cursor: pointer;
}
.b-right-center{
    width: 36px;
    height: 36px;
    background: url("../img/3.png") no-repeat;
    cursor: pointer;
}
.b-right-center.atv{
    width: 36px;
    height: 36px;
    background: url("../img/3_selected.png") no-repeat;
    cursor: pointer;
}
.b-right-bottom{
    width: 36px;
    height: 36px;
    background: url("../img/4.png") no-repeat;
    cursor: pointer;
}
.b-right-bottom.atv{
    width: 36px;
    height: 36px;
    background: url("../img/4_selected.png") no-repeat;
    cursor: pointer;
}
#ctf-type input[type="radio"]{
    display: none;
}
.button-ct-form{
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
    padding: 5px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    background: rgb(102,163,163);
    background: -moz-linear-gradient(top,  rgba(102,163,163,1) 1%, rgba(25,117,117,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(102,163,163,1)), color-stop(100%,rgba(25,117,117,1)));
    background: -webkit-linear-gradient(top,  rgba(102,163,163,1) 1%,rgba(25,117,117,1) 100%);
    background: -o-linear-gradient(top,  rgba(102,163,163,1) 1%,rgba(25,117,117,1) 100%);
    background: -ms-linear-gradient(top,  rgba(102,163,163,1) 1%,rgba(25,117,117,1) 100%);
    background: linear-gradient(to bottom,  rgba(102,163,163,1) 1%,rgba(25,117,117,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66a3a3', endColorstr='#197575',GradientType=0 );
}
.button-ct-form.atv{
    color: #fff;
    background: rgb(125,185,232);
    background: -moz-linear-gradient(top,  rgba(125,185,232,1) 0%, rgba(0,118,207,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,185,232,1)), color-stop(100%,rgba(0,118,207,1)));
    background: -webkit-linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(0,118,207,1) 100%);
    background: -o-linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(0,118,207,1) 100%);
    background: -ms-linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(0,118,207,1) 100%);
    background: linear-gradient(to bottom,  rgba(125,185,232,1) 0%,rgba(0,118,207,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#0076cf',GradientType=0 );
}
.button-ct-form:hover{
    color: #fff;
    background: rgb(125,185,232);
    background: -moz-linear-gradient(top,  rgba(125,185,232,1) 0%, rgba(0,118,207,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,185,232,1)), color-stop(100%,rgba(0,118,207,1)));
    background: -webkit-linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(0,118,207,1) 100%);
    background: -o-linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(0,118,207,1) 100%);
    background: -ms-linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(0,118,207,1) 100%);
    background: linear-gradient(to bottom,  rgba(125,185,232,1) 0%,rgba(0,118,207,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#0076cf',GradientType=0 );
}
.getcode{
    width: 100%;
    font-size: 16px;
    color: #4a4a4a;
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    display: inline-block;
}
.btn-send{
    color: #fff !important;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #009fe1 !important;
}
.btn-send-t{
    width: 100%;
    color: #fff !important;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #009fe1 !important;
}
#my-builder{
    height: 729px;
    background-color: #fff;
    border-right: 1px solid #c0c0c0;
}

#my-custom{
    position: relative;
    height: 729px;
    margin: 0 -15px;
}
#wrap-contact{
    height: 586px;
    overflow-x: hidden;
    position: relative;
}
#preview-on{
    border-top: 1px solid #ccc;;
    background-color: #fff;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}





/*for checkbox*/
.squaredFour {
    width: 21px;
    position: relative;
    margin-right: 10px;
}

.squaredFour label {
    cursor: pointer;
    position: absolute;
    width: 21px;
    height: 21px;
    top: 0;
    left: 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fcfff4;
}

.squaredFour label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 14px;
    height: 8px;
    background: transparent;
    top: 3px;
    left: 2px;
    border: 3px solid #f8492a;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.squaredFour label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.5;
}

.squaredFour input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.squaredlabel{
    color: #4a4a4a;
    font-size: 14px;
}
#type-mess-contact{
    vertical-align: top;
}




/*footer*/
#footer{
    width: 100%;
    background-color: #1b1b1e;
    padding: 20px 0;
}
.copyright{
    font-size: 15px;
    color: #00c8ff;
    margin-top: 10px;
    display: inline-block;
}




/*media*/
@media (min-width: 768px) and (max-width: 992px){
    .feature-title h3{
        font-size: 16px;
    }
}
@media (max-width: 420px){
    a.example{
        font-size: 11px;
    }
}