.tooltipster-punk {
	border-radius: 4px;
	background: rgba(0,0,0,0.8);
	color: #fff;
}
.tooltipster-punk .tooltipster-content {
	font-family: 'Courier', monospace;
	font-size: 14px;
	line-height: 16px;
	padding: 5px;
}