.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.ctf-hidden{
    display: none;
}
#ctf-butt-contact{
    white-space: nowrap;
    z-index: 1;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 9px;
    border-radius: 4px 0 0 4px;
}
#ctf-butt-contact:after{
    content: " ";
    width: 39px;
    height: 39px;
    background: url("../../img/ic-button-contact.png");
    position: absolute;
    right: -40px;
    top: 0;
}
#ctf-butt-contact:hover{
    text-decoration: none;
}
#ctf-demo,
#ctf-demo-classic,
#ctf-demo-normal,
#ctf-demo-restaurant,
#ctf-demo-child{
    height: auto;
    left: auto;
    pointer-events: auto;
    position: static;
    top: auto;
    width: auto;
    z-index: auto;
    padding: 30px;
}

#ctf-demo .ctf-wrapper {
    display: block;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #9A9A9A;
    position: relative;
    height: auto;
    width: 550px;
    margin: 30px auto;
    padding: 0;
    left: auto;
    top: auto;
    opacity: 1;
    z-index: auto;
    pointer-events: auto;
    overflow: visible;
}
#ctf-demo .ctf-wrapper .ctf-content {
    height: inherit;
    /*width: 480px;*/
    background-color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    pointer-events: auto;
}
#ctf-demo > .ctf-wrapper .ctf-head-title {
    position: relative;
    background-color: #009fe1;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    padding: 10px 0;
}
#ctf-demo > .ctf-wrapper .ctf-head-title h2{
    font-size: 20px;
    color: #fff;
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}
#ctf-demo > .ctf-wrapper .ctf-content .ctf-inner-content{
    padding: 10px 35px 35px;
}
#ctf-demo > .ctf-wrapper .ctf-content .ctf-inner-content > div.ctf-contact-form{
    position: relative;
    display: block;
}

#ctf-demo > .ctf-wrapper .ctf-orientation {
    float: left;
}

#ctf-demo > .ctf-wrapper .ctf-icon-small {
    display: inline-block;
    overflow: auto;
    background-repeat: no-repeat;
    background-image: url("../../img/temp-fields.png");
    background-size: 28px 420px;
    background-position: 0 0;
    background-position-x: 0;
    background-position-y: 0;
}

/* icon label */
#ctf-demo > .ctf-wrapper .ctf-icon-person {
    background-position: left 0px top -180px;
    background-position-x: 0px;
    background-position-y: -180px;
}

#ctf-demo > .ctf-wrapper .ctf-icon-email {
    background-position: left 0px top -223px;
    background-position-x: 0px;
    background-position-y: -223px;
}

#ctf-demo > .ctf-wrapper .ctf-icon-phone {
    background-position: left 0px top -46px;
    background-position-x: 0px;
    background-position-y: -46px;
}

#ctf-demo > .ctf-wrapper .ctf-icon-bag {
    background-position: left 0px top -135px;
    background-position-x: 0px;
    background-position-y: -135px;
}

#ctf-demo > .ctf-wrapper .ctf-icon-global {
    background-position: left 0px top -1px;
    background-position-x: 0px;
    background-position-y: -1px;
}

#ctf-demo > .ctf-wrapper .ctf-icon-star {
    background-position: left 0px top -89px;
    background-position-x: 0px;
    background-position-y: -89px;
}

#ctf-demo > .ctf-wrapper .ctf-icon-pencil {
    background-position: left 0px top -268px;
    background-position-x: 0px;
    background-position-y: -268px;
}

#ctf-demo > .ctf-wrapper .ctf-field {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000000;
    position: relative;
    height: 32px;
    border: 1px solid #d8d8d8;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    padding-top: 0;
    padding-right: 10px !important;
    padding-bottom: 0;
    padding-left: 36px !important;

    border-left: 1px solid #d8d8d8;
    text-align: left;

    -moz-box-sizing: padding-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
}
#ctf-demo > .ctf-wrapper .ctf-field:before{
    content: "";
    background-color: #f6f6f6;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

#ctf-demo > .ctf-wrapper .ctf-field::-webkit-input-placeholder {
    color: #6C6C6C !important;
}

#ctf-demo > .ctf-wrapper .ctf-field:-moz-placeholder {
    color: #6C6C6C !important;
}

#ctf-demo > .ctf-wrapper .ctf-field::-moz-placeholder {
    color: #6C6C6C !important;
}

#ctf-demo > .ctf-wrapper .ctf-field:-ms-input-placeholder {
    color: #6C6C6C !important;
}

#ctf-demo > .ctf-wrapper .ctf-field:focus {
    outline: none;
    box-shadow: none !important;
    border-color: #00ADE9;
}

#ctf-demo > .ctf-wrapper .ctf-form-group{
    position: relative;
}

#ctf-demo > .ctf-wrapper .ctf-field.ctf-half-size,
#ctf-demo > .ctf-wrapper .ctf-form-group.ctf-half-size{
    width: 231px;
    height: 30px;
}

#ctf-demo > .ctf-wrapper .ctf-field.ctf-half-size:nth-of-type(2n+0),
#ctf-demo > .ctf-wrapper .ctf-form-group.ctf-half-size:nth-of-type(2n+0){
    margin: 5px 0;
}

#ctf-demo > .ctf-wrapper .ctf-field.ctf-half-size:nth-of-type(2n+1),
#ctf-demo > .ctf-wrapper .ctf-form-group.ctf-half-size:nth-of-type(2n+1){
    margin-top: 5px;
    margin-right: 17px;
    margin-bottom: 5px;
    margin-left: 0;
}

/*new dropdown*/
#ctf-demo > .ctf-wrapper .ctf-f-size{
    width: 478px;
    height: 30px;
}
#ctf-demo > .ctf-wrapper .ctf-field-f.ctf-f-size{
    border: 1px solid #d8d8d8;
    color: #717171;
    position: relative;
}
#ctf-demo > .ctf-wrapper .ctf-dropdown{
    background-image: url("/library/img/ic-dropdown.png");
    background-repeat: no-repeat;
    background-size: 31px 30px;
    background-position: right top;
    cursor: pointer;
}
#ctf-demo > .ctf-wrapper .ctf-field-f span.corlor-text{
    display: inline-block;
    margin-right: 6px;
    margin-left: 10px;
}
#ctf-demo > .ctf-wrapper .ctf-field-f .ctf-department{
    display: inline-block;
    margin-top: 8px;
}
#ctf-demo > .ctf-wrapper .ctf-field-f .ctf-department-dropdown{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 29px;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    inset 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         inset 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
}
#ctf-demo > .ctf-wrapper .ctf-field-f .ctf-department-dropdown > .ctf-department-item{
    padding: 5px 10px;
    cursor: pointer;
    margin: 1px;
}
#ctf-demo > .ctf-wrapper .ctf-field-f .ctf-department-dropdown > .ctf-department-item:hover{
    background-color: #ececec;
}
/*end new dropdown*/

#ctf-demo > .ctf-wrapper .ctf-field.ctf-full-size,
#ctf-demo > .ctf-wrapper .ctf-form-group.ctf-full-size{
    width: 478px;
    margin: 5px 0;
}

#ctf-demo > .ctf-wrapper .ctf-field-message {
    height: 110px;
    padding-top: 7px;
    resize: vertical;
    overflow: auto;
}

#ctf-demo > .ctf-wrapper .ctf-button {
    border: none;
    padding: 0 10px;
    margin-top: 9px;
    position: relative;
    width: auto;
    height: 34px;
    text-decoration: none;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: center;

    background-color: #009fe1;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.6);

    cursor: pointer;
}

#ctf-demo > .ctf-wrapper .ctf-button span {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    pointer-events: none;
}

#ctf-demo > .ctf-wrapper span.ctf-tel{
    margin-top: 18px;
    margin-left: 10px;
    font-size: 13px;
    font-weight: 600;
    color: #6c6c6c;
}
#ctf-demo > .ctf-wrapper .ctf-logo{
    position: absolute;
    top: 2px;
    left: 35px;
}
#ctf-demo > .ctf-wrapper .ctf-form-img{
    margin-top: 18px;
    margin-right: 5px;
}
#ctf-demo > .ctf-wrapper .ctf-right{
    float: right;
}

/*-------------Classic Form--------------*/
#ctf-demo-classic{

}
#ctf-demo-classic > .ctf-wrapper{
    display: block;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #9A9A9A;
    position: relative;
    height: auto;
    width: 570px;
    margin: 30px auto;
    padding: 0;
    left: auto;
    top: auto;
    opacity: 1;
    z-index: auto;
    pointer-events: auto;
    overflow: visible;

    background-image: url("../../img/bg-outer-classic.png");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
}
#ctf-demo-classic > .ctf-wrapper .ctf-content{
    background-color: #fdfac5;
    margin: 13px;
    display: inline-block;
    box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(119, 119, 119, 0.75);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-head-title {
    position: relative;
    background-color: transparent;
    padding: 25px 0 0;
}
#ctf-demo-classic > .ctf-wrapper .ctf-head-title h2{
    font-size: 25px;
    font-weight: 600;
    color: #6c6c6c;
    display: block;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
}
#ctf-demo-classic > .ctf-wrapper .ctf-content .ctf-inner-content{
    padding: 20px 25px 35px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-content .ctf-inner-content > form{
    position: relative;
    display: block;
}
#ctf-demo-classic > .ctf-wrapper .ctf-orientation {
    float: left;
}
#ctf-demo-classic > .ctf-wrapper .ctf-icon-small {
    display: inline-block;
    overflow: auto;
    background-repeat: no-repeat;
    background-image: url("../../img/temp-fields.png");
    background-size: 28px 420px;
    background-position: 0 0;
    background-position-x: 0;
    background-position-y: 0;
}
/* icon label */
#ctf-demo-classic > .ctf-wrapper .ctf-icon-person {
    background-position: left 0px top -180px;
    background-position-x: 0px;
    background-position-y: -180px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-icon-email {
    background-position: left 0px top -223px;
    background-position-x: 0px;
    background-position-y: -223px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-icon-phone {
    background-position: left 0px top -46px;
    background-position-x: 0px;
    background-position-y: -46px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-icon-bag {
    background-position: left 0px top -135px;
    background-position-x: 0px;
    background-position-y: -135px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-icon-global {
    background-position: left 0px top -1px;
    background-position-x: 0px;
    background-position-y: -1px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-icon-star {
    background-position: left 0px top -89px;
    background-position-x: 0px;
    background-position-y: -89px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-icon-pencil {
    background-position: left 0px top -268px;
    background-position-x: 0px;
    background-position-y: -268px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-field {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000000;
    position: relative;
    height: 32px;
    border: 1px solid #d8d8d8;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    padding-top: 0;
    padding-right: 10px !important;
    padding-bottom: 0;
    padding-left: 36px !important;

    border-left: 1px solid #d8d8d8;
    text-align: left;

    -moz-box-sizing: padding-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
}
#ctf-demo-classic > .ctf-wrapper .ctf-field::-webkit-input-placeholder {
    color: #6C6C6C !important;
}
#ctf-demo-classic > .ctf-wrapper .ctf-field:-moz-placeholder {
    color: #6C6C6C !important;
}
#ctf-demo-classic > .ctf-wrapper .ctf-field::-moz-placeholder {
    color: #6C6C6C !important;
}
#ctf-demo-classic > .ctf-wrapper .ctf-field:-ms-input-placeholder {
    color: #6C6C6C !important;
}
#ctf-demo-classic > .ctf-wrapper .ctf-field:focus {
    outline: none;
    box-shadow: none !important;
    border-color: #00ADE9;
}
#ctf-demo-classic > .ctf-wrapper .ctf-form-group{
    position: relative;
}
#ctf-demo-classic > .ctf-wrapper .ctf-field.ctf-half-size,
#ctf-demo-classic > .ctf-wrapper .ctf-form-group.ctf-half-size{
    width: 237px;
    height: 30px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-field.ctf-half-size:nth-of-type(2n+0),
#ctf-demo-classic > .ctf-wrapper .ctf-form-group.ctf-half-size:nth-of-type(2n+0){
    margin: 5px 0;
}
#ctf-demo-classic > .ctf-wrapper .ctf-field.ctf-half-size:nth-of-type(2n+1),
#ctf-demo-classic > .ctf-wrapper .ctf-form-group.ctf-half-size:nth-of-type(2n+1){
    margin-top: 5px;
    margin-right: 17px;
    margin-bottom: 5px;
    margin-left: 0;
}
/*new dropdown*/
#ctf-demo-classic > .ctf-wrapper .ctf-f-size{
    width: 491px;
    height: 30px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-field-f.ctf-f-size{
    border: 1px solid #d8d8d8;
    color: #717171;
    position: relative;
}
#ctf-demo-classic > .ctf-wrapper .ctf-dropdown{
    background-color: #fff;
    background-image: url("/library/img/ic-dropdown.png");
    background-repeat: no-repeat;
    background-size: 31px 30px;
    background-position: right top;
    cursor: pointer;
    position: relative;
    z-index: 101;
}
#ctf-demo-classic > .ctf-wrapper .ctf-field-f span.corlor-text{
    display: inline-block;
    margin-right: 6px;
    margin-left: 10px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-field-f .ctf-department{
    display: inline-block;
    margin-top: 8px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-field-f .ctf-department-dropdown{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 29px;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    inset 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         inset 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
}
#ctf-demo-classic > .ctf-wrapper .ctf-field-f .ctf-department-dropdown > .ctf-department-item{
    padding: 5px 10px;
    cursor: pointer;
    margin: 1px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-field-f .ctf-department-dropdown > .ctf-department-item:hover{
    background-color: #ececec;
}
/*end new dropdown*/
#ctf-demo-classic > .ctf-wrapper .ctf-field.ctf-full-size,
#ctf-demo-classic > .ctf-wrapper .ctf-form-group.ctf-full-size{
    width: 491px;
    margin: 5px 0;
}
#ctf-demo-classic > .ctf-wrapper .ctf-field-message {
    height: 110px;
    padding-top: 7px;
    resize: vertical;
    overflow: auto;
}
#ctf-demo-classic > .ctf-wrapper .ctf-button {
    border: 1px dashed #fff;
    padding: 0 15px;
    margin-top: 9px;
    position: relative;
    width: auto;
    text-decoration: none;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: center;
    background-color: #e14c3f;
    cursor: pointer;
}
#ctf-demo-classic > .ctf-wrapper .ctf-button span {
    display: inline-block;
    font-family: "Century Gothic", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    pointer-events: none;
}

#ctf-demo-classic > .ctf-wrapper span.ctf-tel{
    margin-top: 18px;
    margin-left: 10px;
    font-size: 13px;
    font-weight: 600;
    color: #6c6c6c;
}

#ctf-demo-classic > .ctf-wrapper .ctf-logo{
    position: absolute;
    top: 21px;
    left: 23px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-form-img{
    margin-top: 18px;
    margin-right: 5px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-right{
    float: right;
}

/*------------------Normal Form----------------------*/
#ctf-demo-normal .ctf-wrapper {
    display: block;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #9A9A9A;
    position: relative;
    height: auto;
    width: 550px;
    margin: 30px auto;
    padding: 0;
    left: auto;
    top: auto;
    opacity: 1;
    z-index: auto;
    pointer-events: auto;
    overflow: visible;
}
#ctf-demo-normal .ctf-wrapper .ctf-content {
    height: inherit;
    background-color: white;
    -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    pointer-events: auto;
    padding-bottom: 60px;
    width: 514px;
    margin: 0 auto;
}
#ctf-demo-normal > .ctf-wrapper .bg-normal-form{
    margin-top: -165px;
    width: 100%;
    height: 165px;
    margin-left: auto;
    margin-right: -1px;
    background: url("../../img/bg-normal-form.png") no-repeat;
    text-align: center;
    position: relative;
    z-index: 1;
}
#ctf-demo-normal > .ctf-wrapper .ctf-head-title {
    position: relative;
    padding: 20px 0 0;
}
#ctf-demo-normal > .ctf-wrapper .ctf-head-title h2{
    font-size: 20px;
    color: #A5234F;
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}
#ctf-demo-normal > .ctf-wrapper .ctf-content .ctf-inner-content{
    padding: 10px 35px 35px;
}
#ctf-demo-normal > .ctf-wrapper .ctf-content .ctf-inner-content > form{
    position: relative;
    display: block;
}

#ctf-demo-normal > .ctf-wrapper .ctf-orientation {
    float: left;
}

#ctf-demo-normal > .ctf-wrapper .ctf-icon-small {
    display: inline-block;
    overflow: auto;
    background-repeat: no-repeat;
    background-image: url("../../img/temp-fields.png");
    background-size: 28px 420px;
    background-position: 0 0;
    background-position-x: 0;
    background-position-y: 0;
}

/* icon label */
#ctf-demo-normal > .ctf-wrapper .ctf-icon-person {
    background-position: left 0px top -180px;
    background-position-x: 0px;
    background-position-y: -180px;
}

#ctf-demo-normal > .ctf-wrapper .ctf-icon-email {
    background-position: left 0px top -223px;
    background-position-x: 0px;
    background-position-y: -223px;
}

#ctf-demo-normal > .ctf-wrapper .ctf-icon-phone {
    background-position: left 0px top -46px;
    background-position-x: 0px;
    background-position-y: -46px;
}

#ctf-demo-normal > .ctf-wrapper .ctf-icon-bag {
    background-position: left 0px top -135px;
    background-position-x: 0px;
    background-position-y: -135px;
}

#ctf-demo-normal > .ctf-wrapper .ctf-icon-global {
    background-position: left 0px top -1px;
    background-position-x: 0px;
    background-position-y: -1px;
}

#ctf-demo-normal > .ctf-wrapper .ctf-icon-star {
    background-position: left 0px top -89px;
    background-position-x: 0px;
    background-position-y: -89px;
}

#ctf-demo-normal > .ctf-wrapper .ctf-icon-pencil {
    background-position: left 0px top -268px;
    background-position-x: 0px;
    background-position-y: -268px;
}

#ctf-demo-normal > .ctf-wrapper .ctf-field {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000000;
    position: relative;
    height: 32px;
    border: 1px solid #d8d8d8;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    padding-top: 0;
    padding-right: 10px !important;
    padding-bottom: 0;
    padding-left: 36px !important;

    border-left: 1px solid #d8d8d8;
    text-align: left;

    -moz-box-sizing: padding-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
}
#ctf-demo-normal > .ctf-wrapper .ctf-field:before{
    content: "";
    background-color: #f6f6f6;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

#ctf-demo-normal > .ctf-wrapper .ctf-field::-webkit-input-placeholder {
    color: #6C6C6C !important;
}

#ctf-demo-normal > .ctf-wrapper .ctf-field:-moz-placeholder {
    color: #6C6C6C !important;
}

#ctf-demo-normal > .ctf-wrapper .ctf-field::-moz-placeholder {
    color: #6C6C6C !important;
}

#ctf-demo-normal > .ctf-wrapper .ctf-field:-ms-input-placeholder {
    color: #6C6C6C !important;
}

#ctf-demo-normal > .ctf-wrapper .ctf-field:focus {
    outline: none;
    box-shadow: none !important;
    border-color: #00ADE9;
}

#ctf-demo-normal > .ctf-wrapper .ctf-form-group{
    position: relative;
}

#ctf-demo-normal > .ctf-wrapper .ctf-field.ctf-half-size,
#ctf-demo-normal > .ctf-wrapper .ctf-form-group.ctf-half-size{
    width: 213px;
    height: 30px;
}
#ctf-demo-normal > .ctf-wrapper .ctf-field.ctf-half-size:nth-of-type(2n+0),
#ctf-demo-normal > .ctf-wrapper .ctf-form-group.ctf-half-size:nth-of-type(2n+0){
    margin: 5px 0;
}

#ctf-demo-normal > .ctf-wrapper .ctf-field.ctf-half-size:nth-of-type(2n+1),
#ctf-demo-normal > .ctf-wrapper .ctf-form-group.ctf-half-size:nth-of-type(2n+1){
    margin-top: 5px;
    margin-right: 17px;
    margin-bottom: 5px;
    margin-left: 0;
}

/*new dropdown*/
#ctf-demo-normal > .ctf-wrapper .ctf-f-size{
    width: 443px;
    height: 30px;
}
#ctf-demo-normal > .ctf-wrapper .ctf-field-f.ctf-f-size{
    border: 1px solid #d8d8d8;
    color: #717171;
    position: relative;
}
#ctf-demo-normal > .ctf-wrapper .ctf-dropdown{
    background-image: url("/library/img/ic-dropdown.png");
    background-repeat: no-repeat;
    background-size: 31px 30px;
    background-position: right top;
    cursor: pointer;
    position: relative;
    z-index: 3;
}
#ctf-demo-normal > .ctf-wrapper .ctf-field-f span.corlor-text{
    display: inline-block;
    margin-right: 6px;
    margin-left: 10px;
}
#ctf-demo-normal > .ctf-wrapper .ctf-field-f .ctf-department{
    display: inline-block;
    margin-top: 8px;
}
#ctf-demo-normal > .ctf-wrapper .ctf-field-f .ctf-department-dropdown{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 29px;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    inset 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         inset 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
}
#ctf-demo-normal > .ctf-wrapper .ctf-field-f .ctf-department-dropdown > .ctf-department-item{
    padding: 5px 10px;
    cursor: pointer;
    margin: 1px;
}
#ctf-demo-normal > .ctf-wrapper .ctf-field-f .ctf-department-dropdown > .ctf-department-item:hover{
    background-color: #ececec;
}
/*end new dropdown*/

#ctf-demo-normal > .ctf-wrapper .ctf-field.ctf-full-size,
#ctf-demo-normal > .ctf-wrapper .ctf-form-group.ctf-full-size{
    width: 443px;
    margin: 5px 0;
}

#ctf-demo-normal > .ctf-wrapper .ctf-field-message {
    height: 110px;
    padding-top: 7px;
    resize: vertical;
    overflow: auto;
}
#ctf-demo-normal > .ctf-wrapper .ctf-wrap-btn{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    position: relative;
    z-index: 2;
}
#ctf-demo-normal > .ctf-wrapper .ctf-button {
    border: none;
    padding: 0 15px;
    margin-top: 9px;
    position: relative;
    width: auto;
    height: 34px;
    text-decoration: none;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: center;
    background-color: #A61D4B;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

#ctf-demo-normal > .ctf-wrapper .ctf-button span {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    pointer-events: none;
}

#ctf-demo-normal > .ctf-wrapper span.ctf-tel{
    color: #fff; 
    font-weight: 600;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 23px;
    margin-left: auto;
    margin-right: auto;
}
#ctf-demo-normal > .ctf-wrapper .ctf-logo{
    position: absolute;
    top: 12px;
    left: 35px;
}
#ctf-demo-normal > .ctf-wrapper .ctf-form-img{
    margin-top: 18px;
    margin-right: 5px;
}
#ctf-demo-normal > .ctf-wrapper .ctf-right{
    float: right;
}


/*Restaurant Form*/
#ctf-demo-restaurant .ctf-wrapper {
    display: block;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #9A9A9A;
    position: relative;
    height: auto;
    width: 549px;
    margin: 30px auto;
    padding: 0;
    left: auto;
    top: auto;
    opacity: 1;
    z-index: auto;
    pointer-events: auto;
    overflow: visible;
    background-color: #fff;
    background-image: url(../../img/bg-restaurant-top.png), url(../../img/chef.png), url(../../img/bg-restaurant-bottom.png);
    background-repeat: no-repeat;
    background-position: left top, right 10px bottom 10px,left -1px bottom;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
}
#ctf-demo-restaurant .ctf-wrapper .ctf-content {
    height: inherit;
    pointer-events: auto;
}
#ctf-demo-restaurant > .ctf-wrapper .ctf-head-title {
    position: relative;
    padding: 50px 0;
}
#ctf-demo-restaurant > .ctf-wrapper .ctf-head-title h2{
    font-size: 19px;
    font-weight: 600;
    color: #d62020;
    display: block;
    text-transform: uppercase;
    margin: 2px 0 0 196px;
}
#ctf-demo-restaurant > .ctf-wrapper .ctf-content .ctf-inner-content{
    padding: 0px 96px 45px 40px;
}
#ctf-demo-restaurant > .ctf-wrapper .ctf-content .ctf-inner-content > div.ctf-contact-form{
    position: relative;
    display: block;
}

#ctf-demo-restaurant > .ctf-wrapper .ctf-orientation {
    float: left;
}

#ctf-demo-restaurant > .ctf-wrapper .ctf-icon-small {
    display: inline-block;
    overflow: auto;
    background-repeat: no-repeat;
    background-image: url("../../img/temp-fields.png");
    background-size: 28px 420px;
    background-position: 0 0;
    background-position-x: 0;
    background-position-y: 0;
}

/* icon label */
#ctf-demo-restaurant > .ctf-wrapper .ctf-icon-person {
    background-position: left 0px top -180px;
    background-position-x: 0px;
    background-position-y: -180px;
}

#ctf-demo-restaurant > .ctf-wrapper .ctf-icon-email {
    background-position: left 0px top -223px;
    background-position-x: 0px;
    background-position-y: -223px;
}

#ctf-demo-restaurant > .ctf-wrapper .ctf-icon-phone {
    background-position: left 0px top -46px;
    background-position-x: 0px;
    background-position-y: -46px;
}

#ctf-demo-restaurant > .ctf-wrapper .ctf-icon-bag {
    background-position: left 0px top -135px;
    background-position-x: 0px;
    background-position-y: -135px;
}

#ctf-demo-restaurant > .ctf-wrapper .ctf-icon-global {
    background-position: left 0px top -1px;
    background-position-x: 0px;
    background-position-y: -1px;
}

#ctf-demo-restaurant > .ctf-wrapper .ctf-icon-star {
    background-position: left 0px top -89px;
    background-position-x: 0px;
    background-position-y: -89px;
}

#ctf-demo-restaurant > .ctf-wrapper .ctf-icon-pencil {
    background-position: left 0px top -268px;
    background-position-x: 0px;
    background-position-y: -268px;
}

#ctf-demo-restaurant > .ctf-wrapper .ctf-field {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000000;
    position: relative;
    height: 32px;
    border: 1px solid #d8d8d8;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    padding-top: 0;
    padding-right: 10px !important;
    padding-bottom: 0;
    padding-left: 36px !important;

    border-left: 1px solid #d8d8d8;
    text-align: left;

    -moz-box-sizing: padding-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
}
#ctf-demo-restaurant > .ctf-wrapper .ctf-field:before{
    content: "";
    background-color: #f6f6f6;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

#ctf-demo-restaurant > .ctf-wrapper .ctf-field::-webkit-input-placeholder {
    color: #6C6C6C !important;
}

#ctf-demo-restaurant > .ctf-wrapper .ctf-field:-moz-placeholder {
    color: #6C6C6C !important;
}

#ctf-demo-restaurant > .ctf-wrapper .ctf-field::-moz-placeholder {
    color: #6C6C6C !important;
}

#ctf-demo-restaurant > .ctf-wrapper .ctf-field:-ms-input-placeholder {
    color: #6C6C6C !important;
}

#ctf-demo-restaurant > .ctf-wrapper .ctf-field:focus {
    outline: none;
    box-shadow: none !important;
    border-color: #00ADE9;
}
#ctf-demo-restaurant > .ctf-wrapper .ctf-form-group{
    position: relative;
}
#ctf-demo-restaurant > .ctf-wrapper .ctf-field.ctf-half-size,
#ctf-demo-restaurant > .ctf-wrapper .ctf-form-group.ctf-half-size{
    width: 198px;
    height: 30px;
}

#ctf-demo-restaurant > .ctf-wrapper .ctf-field.ctf-half-size:nth-of-type(2n+0),
#ctf-demo-restaurant > .ctf-wrapper .ctf-form-group.ctf-half-size:nth-of-type(2n+0){
    margin: 5px 0;
}

#ctf-demo-restaurant > .ctf-wrapper .ctf-field.ctf-half-size:nth-of-type(2n+1),
#ctf-demo-restaurant > .ctf-wrapper .ctf-form-group.ctf-half-size:nth-of-type(2n+1){
    margin-top: 5px;
    margin-right: 17px;
    margin-bottom: 5px;
    margin-left: 0;
}
/*new dropdown*/
#ctf-demo-restaurant > .ctf-wrapper .ctf-f-size{
    width: 413px;
    height: 30px;
    margin-bottom: 10px;
}
#ctf-demo-restaurant > .ctf-wrapper .ctf-field-f.ctf-f-size{
    border: 1px solid #d8d8d8;
    color: #717171;
    position: relative;
}
#ctf-demo-restaurant > .ctf-wrapper .ctf-dropdown{
    background-color: #fff;
    background-image: url("/library/img/ic-dropdown.png");
    background-repeat: no-repeat;
    background-size: 31px 30px;
    background-position: right top;
    cursor: pointer;
    position: relative;
    z-index: 101;
}
#ctf-demo-restaurant > .ctf-wrapper .ctf-field-f span.corlor-text{
    display: inline-block;
    margin-right: 6px;
    margin-left: 10px;
}
#ctf-demo-restaurant > .ctf-wrapper .ctf-field-f .ctf-department{
    display: inline-block;
    margin-top: 8px;
}
#ctf-demo-restaurant > .ctf-wrapper .ctf-field-f .ctf-department-dropdown{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 29px;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    inset 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         inset 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
}
#ctf-demo-restaurant > .ctf-wrapper .ctf-field-f .ctf-department-dropdown > .ctf-department-item{
    padding: 5px 10px;
    cursor: pointer;
    margin: 1px;
}
#ctf-demo-restaurant > .ctf-wrapper .ctf-field-f .ctf-department-dropdown > .ctf-department-item:hover{
    background-color: #ececec;
}
/*end new dropdown*/
#ctf-demo-restaurant > .ctf-wrapper .ctf-field.ctf-full-size,
#ctf-demo-restaurant > .ctf-wrapper .ctf-form-group.ctf-full-size{
    width: 413px;
    margin: 5px 0;
}

#ctf-demo-restaurant > .ctf-wrapper .ctf-field-message {
    height: 110px;
    padding-top: 7px;
    resize: vertical;
    overflow: auto;
}

#ctf-demo-restaurant > .ctf-wrapper .ctf-button {
    border: none;
    padding: 0 10px;
    position: relative;
    width: auto;
    height: 34px;
    text-decoration: none;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: center;
    background-color: #d62020;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

    cursor: pointer;
}
#ctf-demo-restaurant > .ctf-wrapper .ctf-form-img{
    display: none;
}

#ctf-demo-restaurant > .ctf-wrapper .ctf-button span {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    pointer-events: none;
}

#ctf-demo-restaurant > .ctf-wrapper span.ctf-tel{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 13px;
    font-weight: 600;
    color: #6c6c6c;
}
#ctf-demo-restaurant > .ctf-wrapper .ctf-logo{
    position: absolute;
    top: 48px;
    left: 37px;
}
#ctf-demo-restaurant > .ctf-wrapper .ctf-form-img{
    margin-top: 18px;
    margin-right: 5px;
}
#ctf-demo-restaurant > .ctf-wrapper .ctf-right{
    float: right;
}

/*Child Form*/
#ctf-demo-child .ctf-wrapper {
    display: block;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #9A9A9A;
    position: relative;
    height: 472px;
    width: 550px;
    overflow: hidden;
    margin: 30px auto;
    padding: 0;
    left: auto;
    top: auto;
    opacity: 1;
    z-index: auto;
    pointer-events: auto;
    overflow: visible;
    background-color: #009fe1;
    background-image: url(../../img/bg-child-temp.png);
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
#ctf-demo-child .ctf-wrapper .ctf-content {
    height: inherit;
    pointer-events: auto;
    display: inline-block;
    margin-top: 92px;
}
#ctf-demo-child > .ctf-wrapper .ctf-head-title {
    position: relative;
}
#ctf-demo-child > .ctf-wrapper .ctf-head-title h2{
    font-family: "Comic Sans MS";
    font-size: 20px;
    color: #009fe1;
    display: block;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
}
#ctf-demo-child > .ctf-wrapper .ctf-content .ctf-inner-content{
    padding: 10px 109px 35px;
}
#ctf-demo-child > .ctf-wrapper .ctf-content .ctf-inner-content > div.ctf-contact-form{
    position: relative;
    display: block;
}

#ctf-demo-child > .ctf-wrapper .ctf-orientation {
    float: left;
}

#ctf-demo-child > .ctf-wrapper .ctf-field {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000000;
    position: relative;
    height: 32px;
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px !important;

    border-left: 1px solid #d8d8d8;
    text-align: left;

    -moz-box-sizing: padding-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
}
#ctf-demo-child > .ctf-wrapper .ctf-field:before{
    content: "";
    background-color: #f6f6f6;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

#ctf-demo-child > .ctf-wrapper .ctf-field::-webkit-input-placeholder {
    color: #6C6C6C !important;
}

#ctf-demo-child > .ctf-wrapper .ctf-field:-moz-placeholder {
    color: #6C6C6C !important;
}

#ctf-demo-child > .ctf-wrapper .ctf-field::-moz-placeholder {
    color: #6C6C6C !important;
}

#ctf-demo-child > .ctf-wrapper .ctf-field:-ms-input-placeholder {
    color: #6C6C6C !important;
}

#ctf-demo-child > .ctf-wrapper .ctf-field:focus {
    outline: none;
    box-shadow: none !important;
    border-color: #00ADE9;
}
#ctf-demo-child > .ctf-wrapper .ctf-form-group{
    position: relative;
}
#ctf-demo-child > .ctf-wrapper .ctf-field.ctf-half-size,
#ctf-demo-child > .ctf-wrapper .ctf-form-group.ctf-half-size{
    width: 157px;
    height: 30px;
}

#ctf-demo-child > .ctf-wrapper .ctf-field.ctf-half-size:nth-of-type(2n+0),
#ctf-demo-child > .ctf-wrapper .ctf-form-group.ctf-half-size:nth-of-type(2n+0){
    margin: 5px 0;
}

#ctf-demo-child > .ctf-wrapper .ctf-field.ctf-half-size:nth-of-type(2n+1),
#ctf-demo-child > .ctf-wrapper .ctf-form-group.ctf-half-size:nth-of-type(2n+1){
    margin-top: 5px;
    margin-right: 17px;
    margin-bottom: 5px;
    margin-left: 0;
}
/*new dropdown*/
#ctf-demo-child > .ctf-wrapper .ctf-f-size{
    width: 331px;
    height: 30px;
}
#ctf-demo-child > .ctf-wrapper .ctf-field-f.ctf-f-size{
    border: 1px solid #d8d8d8;
    color: #717171;
    position: relative;
}
#ctf-demo-child > .ctf-wrapper .ctf-dropdown{
    background-color: #fff;
    background-image: url("/library/img/ic-dropdown.png");
    background-repeat: no-repeat;
    background-size: 31px 30px;
    background-position: right top;
    cursor: pointer;
    position: relative;
    z-index: 101;
}
#ctf-demo-child > .ctf-wrapper .ctf-field-f span.corlor-text{
    display: inline-block;
    margin-right: 6px;
    margin-left: 10px;
}
#ctf-demo-child > .ctf-wrapper .ctf-field-f .ctf-department{
    display: inline-block;
    margin-top: 8px;
}
#ctf-demo-child > .ctf-wrapper .ctf-field-f .ctf-department-dropdown{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 29px;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    inset 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         inset 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
}
#ctf-demo-child > .ctf-wrapper .ctf-field-f .ctf-department-dropdown > .ctf-department-item{
    padding: 5px 10px;
    cursor: pointer;
    margin: 1px;
}
#ctf-demo-child > .ctf-wrapper .ctf-field-f .ctf-department-dropdown > .ctf-department-item:hover{
    background-color: #ececec;
}
/*end new dropdown*/
#ctf-demo-child > .ctf-wrapper .ctf-field.ctf-full-size,
#ctf-demo-child > .ctf-wrapper .ctf-form-group.ctf-full-size{
    width: 331px;
    margin: 5px 0;
}

#ctf-demo-child > .ctf-wrapper .ctf-field-message {
    height: 90px;
    padding-top: 7px;
    resize: vertical;
    overflow: auto;
}

#ctf-demo-child > .ctf-wrapper .ctf-button {
    font-family: "Comic Sans MS";
    border: none;
    padding: 0 10px;
    margin-top: 9px;
    position: relative;
    width: auto;
    height: 34px;
    text-decoration: none;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: center;
    background-color: #009fe1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
#ctf-demo-child > .ctf-wrapper .ctf-form-img{
    display: none;
}
#ctf-demo-child > .ctf-wrapper .ctf-button span {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    pointer-events: none;
}

#ctf-demo-child > .ctf-wrapper span.ctf-tel{
    font-family: "Comic Sans MS";
    margin-top: 18px;
    margin-left: 10px;
    font-size: 13px;
    font-weight: 600;
    color: #a6a6a6;
    display: inline-block;
    width: 50%;
}
#ctf-demo-child > .ctf-wrapper .ctf-logo{
    position: absolute;
    top: -8px;
    left: 109px;
}
#ctf-demo-child > .ctf-wrapper .ctf-form-img{
    margin-top: 18px;
    margin-right: 5px;
}
#ctf-demo-child > .ctf-wrapper .ctf-right{
    float: right;
}

/*Free Style Form*/
#ctf-demo-style .ctf-wrapper {
    display: block;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #9A9A9A;
    position: relative;
    height: 500px;
    width: 550px;
    overflow: hidden;
    margin: 30px auto;
    padding: 0;
    left: auto;
    top: auto;
    opacity: 1;
    z-index: auto;
    pointer-events: auto;
    overflow: visible;
    background-color: #48ae48;
    background-image: url(../../img/bg-style-temp.png);
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
#ctf-demo-style .ctf-wrapper .ctf-content {
    height: inherit;
    pointer-events: auto;
    display: inline-block;
}
#ctf-demo-style > .ctf-wrapper .ctf-head-title {
    position: relative;
    display: block;
    padding: 8px 0;
}
#ctf-demo-style > .ctf-wrapper .ctf-head-title h2{
    font-family: "Comic Sans MS";
    font-size: 35px;
    color: #fff;
    display: block;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
}
#ctf-demo-style > .ctf-wrapper .ctf-content .ctf-inner-content{
    padding: 10px 95px 35px;
    margin-top: 35px;
}
#ctf-demo-style > .ctf-wrapper .ctf-content .ctf-inner-content > div.ctf-contact-form{
    position: relative;
    display: block;
}

#ctf-demo-style > .ctf-wrapper .ctf-orientation {
    float: left;
}

#ctf-demo-style > .ctf-wrapper .ctf-field {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000000;
    position: relative;
    height: 32px;
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px !important;

    border-left: 1px solid #d8d8d8;
    text-align: left;

    -moz-box-sizing: padding-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
}
#ctf-demo-style > .ctf-wrapper .ctf-field:before{
    content: "";
    background-color: #f6f6f6;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

#ctf-demo-style > .ctf-wrapper .ctf-field::-webkit-input-placeholder {
    color: #6C6C6C !important;
}

#ctf-demo-style > .ctf-wrapper .ctf-field:-moz-placeholder {
    color: #6C6C6C !important;
}
#ctf-demo-style > .ctf-wrapper .ctf-field::-moz-placeholder {
    color: #6C6C6C !important;
}
#ctf-demo-style > .ctf-wrapper .ctf-field:-ms-input-placeholder {
    color: #6C6C6C !important;
}
#ctf-demo-style > .ctf-wrapper .ctf-field:focus {
    outline: none;
    box-shadow: none !important;
    border-color: #00ADE9;
}
#ctf-demo-style > .ctf-wrapper .ctf-form-group{
    position: relative;
}
#ctf-demo-style > .ctf-wrapper .ctf-field.ctf-half-size,
#ctf-demo-style > .ctf-wrapper .ctf-form-group.ctf-half-size{
    width: 170px;
    height: 30px;
}
#ctf-demo-style > .ctf-wrapper .ctf-field.ctf-half-size:nth-of-type(2n+0),
#ctf-demo-style > .ctf-wrapper .ctf-form-group.ctf-half-size:nth-of-type(2n+0){
    margin: 5px 0;
}
#ctf-demo-style > .ctf-wrapper .ctf-field.ctf-half-size:nth-of-type(2n+1),
#ctf-demo-style > .ctf-wrapper .ctf-form-group.ctf-half-size:nth-of-type(2n+1){
    margin-top: 5px;
    margin-right: 17px;
    margin-bottom: 5px;
    margin-left: 0;
}
/*new dropdown*/
#ctf-demo-style > .ctf-wrapper .ctf-f-size{
    width: 357px;
    height: 30px;
    margin-bottom: 10px;
}
#ctf-demo-style > .ctf-wrapper .ctf-field-f.ctf-f-size{
    border: 1px solid #d8d8d8;
    color: #717171;
    position: relative;
}
#ctf-demo-style > .ctf-wrapper .ctf-dropdown{
    background-color: #fff;
    background-image: url("/library/img/ic-dropdown.png");
    background-repeat: no-repeat;
    background-size: 31px 30px;
    background-position: right top;
    cursor: pointer;
    position: relative;
    z-index: 101;
}
#ctf-demo-style > .ctf-wrapper .ctf-field-f span.corlor-text{
    display: inline-block;
    margin-right: 6px;
    margin-left: 10px;
}
#ctf-demo-style > .ctf-wrapper .ctf-field-f .ctf-department{
    display: inline-block;
    margin-top: 8px;
}
#ctf-demo-style > .ctf-wrapper .ctf-field-f .ctf-department-dropdown{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 29px;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    inset 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         inset 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
}
#ctf-demo-style > .ctf-wrapper .ctf-field-f .ctf-department-dropdown > .ctf-department-item{
    padding: 5px 10px;
    cursor: pointer;
    margin: 1px;
}
#ctf-demo-style > .ctf-wrapper .ctf-field-f .ctf-department-dropdown > .ctf-department-item:hover{
    background-color: #ececec;
}
/*end new dropdown*/
#ctf-demo-style > .ctf-wrapper .ctf-field.ctf-full-size,
#ctf-demo-style > .ctf-wrapper .ctf-form-group.ctf-full-size{
    width: 357px;
    margin: 5px 0;
}
#ctf-demo-style > .ctf-wrapper .ctf-field-message {
    height: 90px;
    padding-top: 7px;
    resize: vertical;
    overflow: auto;
}
#ctf-demo-style > .ctf-wrapper .ctf-button {
    font-family: "Comic Sans MS";
    border: none;
    padding: 0 10px;
    margin-top: 9px;
    position: relative;
    width: auto;
    height: 34px;
    text-decoration: none;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: center;
    background-color: #48ae48;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
#ctf-demo-style > .ctf-wrapper .ctf-form-img{
    display: none;
}
#ctf-demo-style > .ctf-wrapper .ctf-button span {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    pointer-events: none;
}
#ctf-demo-style > .ctf-wrapper span.ctf-tel{
    font-family: "Comic Sans MS";
    margin-top: 18px;
    margin-left: 10px;
    font-size: 13px;
    font-weight: 600;
    color: #a6a6a6;
    display: inline-block;
    width: 50%;
}
#ctf-demo-style > .ctf-wrapper .ctf-logo{
    position: absolute;
    top: 12px;
    left: 109px;
}
#ctf-demo-style > .ctf-wrapper .ctf-form-img{
    margin-top: 18px;
    margin-right: 5px;
}
#ctf-demo-style > .ctf-wrapper .ctf-right{
    float: right;
}


/* Validation tooltip */
#ctf-demo > .ctf-wrapper .ctf-tooltip span {
    font-family: Arial, Sans-Serif;
    font-size: 10px;
    font-weight: normal;
    display: inline-block;
    padding: 3px;
}

#ctf-demo > .ctf-wrapper .ctf-tooltip {
    font-family: Arial, Sans-Serif;
    font-size: 11px;
    font-weight: normal;
    position: absolute;
    padding: 0 5px;
    color:#7C6F4A;
    background-color: #FFFFBF;
    border: 1px solid #D5C28B;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    z-index: 4;
}

#ctf-demo > .ctf-wrapper .ctf-tooltip:after,
#ctf-demo > .ctf-wrapper .ctf-tooltip:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0px;
    width: 0px;
    position: absolute;
    pointer-events: none;
}

#ctf-demo > .ctf-wrapper .ctf-tooltip:after {
    border-top-color: #FFFFBF;
    border-width: 5px;
    left: 15px;
    margin-left: -5px;
}
#ctf-demo > .ctf-wrapper .ctf-tooltip:before {
    border-top-color: #D5C28B;
    border-width: 6px;
    left: 15px;
    margin-left: -6px;
}
#ctf-demo > .ctf-wrapper .ctf-tooltip{
    top: -17px;
    left: 0px;
}



/* Validation tooltip FORM NỎMAL*/
#ctf-demo-normal > .ctf-wrapper .ctf-tooltip span {
    font-family: Arial, Sans-Serif;
    font-size: 10px;
    font-weight: normal;
    display: inline-block;
    padding: 3px;
}

#ctf-demo-normal > .ctf-wrapper .ctf-tooltip {
    font-family: Arial, Sans-Serif;
    font-size: 11px;
    font-weight: normal;
    position: absolute;
    padding: 0 5px;
    color:#7C6F4A;
    background-color: #FFFFBF;
    border: 1px solid #D5C28B;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    z-index: 4;
}

#ctf-demo-normal > .ctf-wrapper .ctf-tooltip:after,
#ctf-demo-normal > .ctf-wrapper .ctf-tooltip:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0px;
    width: 0px;
    position: absolute;
    pointer-events: none;
}
#ctf-demo-normal > .ctf-wrapper .ctf-tooltip:after {
    border-top-color: #FFFFBF;
    border-width: 5px;
    left: 15px;
    margin-left: -5px;
}
#ctf-demo-normal > .ctf-wrapper .ctf-tooltip:before {
    border-top-color: #D5C28B;
    border-width: 6px;
    left: 15px;
    margin-left: -6px;
}
#ctf-demo-normal > .ctf-wrapper .ctf-tooltip{
    top: -17px;
    left: 0px;
}

/* Validation tooltip FORM classic*/
#ctf-demo-classic > .ctf-wrapper .ctf-tooltip span {
    font-family: Arial, Sans-Serif;
    font-size: 10px;
    font-weight: normal;
    display: inline-block;
    padding: 3px;
}

#ctf-demo-classic > .ctf-wrapper .ctf-tooltip {
    font-family: Arial, Sans-Serif;
    font-size: 11px;
    font-weight: normal;
    position: absolute;
    padding: 0 5px;
    color:#7C6F4A;
    background-color: #FFFFBF;
    border: 1px solid #D5C28B;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    z-index: 4;
}

#ctf-demo-classic > .ctf-wrapper .ctf-tooltip:after,
#ctf-demo-classic > .ctf-wrapper .ctf-tooltip:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0px;
    width: 0px;
    position: absolute;
    pointer-events: none;
}
#ctf-demo-classic > .ctf-wrapper .ctf-tooltip:after {
    border-top-color: #FFFFBF;
    border-width: 5px;
    left: 15px;
    margin-left: -5px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-tooltip:before {
    border-top-color: #D5C28B;
    border-width: 6px;
    left: 15px;
    margin-left: -6px;
}
#ctf-demo-classic > .ctf-wrapper .ctf-tooltip{
    top: -17px;
    left: 0px;
}

/* Validation tooltip FORM restaurant*/
#ctf-demo-restaurant > .ctf-wrapper .ctf-tooltip span {
    font-family: Arial, Sans-Serif;
    font-size: 10px;
    font-weight: normal;
    display: inline-block;
    padding: 3px;
}

#ctf-demo-restaurant > .ctf-wrapper .ctf-tooltip {
    font-family: Arial, Sans-Serif;
    font-size: 11px;
    font-weight: normal;
    position: absolute;
    padding: 0 5px;
    color:#7C6F4A;
    background-color: #FFFFBF;
    border: 1px solid #D5C28B;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    z-index: 4;
}

#ctf-demo-restaurant > .ctf-wrapper .ctf-tooltip:after,
#ctf-demo-restaurant > .ctf-wrapper .ctf-tooltip:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0px;
    width: 0px;
    position: absolute;
    pointer-events: none;
}
#ctf-demo-restaurant > .ctf-wrapper .ctf-tooltip:after {
    border-top-color: #FFFFBF;
    border-width: 5px;
    left: 15px;
    margin-left: -5px;
}
#ctf-demo-restaurant > .ctf-wrapper .ctf-tooltip:before {
    border-top-color: #D5C28B;
    border-width: 6px;
    left: 15px;
    margin-left: -6px;
}
#ctf-demo-restaurant > .ctf-wrapper .ctf-tooltip{
    top: -17px;
    left: 0px;
}

/* Validation tooltip FORM child*/
#ctf-demo-child > .ctf-wrapper .ctf-tooltip span {
    font-family: Arial, Sans-Serif;
    font-size: 10px;
    font-weight: normal;
    display: inline-block;
    padding: 3px;
}

#ctf-demo-child > .ctf-wrapper .ctf-tooltip {
    font-family: Arial, Sans-Serif;
    font-size: 11px;
    font-weight: normal;
    position: absolute;
    padding: 0 5px;
    color:#7C6F4A;
    background-color: #FFFFBF;
    border: 1px solid #D5C28B;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    z-index: 4;
}

#ctf-demo-child > .ctf-wrapper .ctf-tooltip:after,
#ctf-demo-child > .ctf-wrapper .ctf-tooltip:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0px;
    width: 0px;
    position: absolute;
    pointer-events: none;
}
#ctf-demo-child > .ctf-wrapper .ctf-tooltip:after {
    border-top-color: #FFFFBF;
    border-width: 5px;
    left: 15px;
    margin-left: -5px;
}
#ctf-demo-child > .ctf-wrapper .ctf-tooltip:before {
    border-top-color: #D5C28B;
    border-width: 6px;
    left: 15px;
    margin-left: -6px;
}
#ctf-demo-child > .ctf-wrapper .ctf-tooltip{
    top: -17px;
    left: 0px;
}

/* Validation tooltip FORM Style*/
#ctf-demo-style > .ctf-wrapper .ctf-tooltip span {
    font-family: Arial, Sans-Serif;
    font-size: 10px;
    font-weight: normal;
    display: inline-block;
    padding: 3px;
}

#ctf-demo-style > .ctf-wrapper .ctf-tooltip {
    font-family: Arial, Sans-Serif;
    font-size: 11px;
    font-weight: normal;
    position: absolute;
    padding: 0 5px;
    color:#7C6F4A;
    background-color: #FFFFBF;
    border: 1px solid #D5C28B;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    z-index: 4;
}

#ctf-demo-style > .ctf-wrapper .ctf-tooltip:after,
#ctf-demo-style > .ctf-wrapper .ctf-tooltip:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0px;
    width: 0px;
    position: absolute;
    pointer-events: none;
}
#ctf-demo-style > .ctf-wrapper .ctf-tooltip:after {
    border-top-color: #FFFFBF;
    border-width: 5px;
    left: 15px;
    margin-left: -5px;
}
#ctf-demo-style > .ctf-wrapper .ctf-tooltip:before {
    border-top-color: #D5C28B;
    border-width: 6px;
    left: 15px;
    margin-left: -6px;
}
#ctf-demo-style > .ctf-wrapper .ctf-tooltip{
    top: -17px;
    left: 0px;
}
.hide {
    display: none !important;
}

/*style for click button send loading ajax*/
#ctf-demo .ctf-send-loader{
    position: relative;
    left: 0px;
    top: 10px;
    z-index: 100;
}
#ctf-demo-child .ctf-send-loader{
    position: relative;
    left: 0px;
    top: 10px;
    z-index: 100;
}
#ctf-demo-classic .ctf-send-loader{
    position: relative;
    left: 0px;
    top: 10px;
    z-index: 100;
}
#ctf-demo-style .ctf-send-loader{
    position: relative;
    left: 0px;
    top: 10px;
    z-index: 100;
}
#ctf-demo-normal .ctf-send-loader{
    position: relative;
    left: 0px;
    top: -2px;
    z-index: 100;
}
#ctf-demo-restaurant .ctf-send-loader{
    position: relative;
    left: 0px;
    top: 1px;
    z-index: 100;
}