<script>
    (function(d, s, id) {
        if ('https:' === document.location.protocol || d.getElementById(id)) return;
        var js, fjs = d.getElementsByTagName(s)[0];
        js = d.createElement(s); js.id = id; js.src = "FULL_DOMAIN/client/js/HASH_FORM_ID.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, "script", "bcf-render"));</script>
<a id="ctf-butt-contact" class="corlor" href="javascript:void(0)">Contact us</a>