ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
/*custom core*/
.navbar-default{
    min-height: 70px;
    background-color: #fff;
    border-color: transparent;
    margin-bottom: 0 !important;
}
.navbar-default .navbar-toggle{
    margin-top: 18px;
}
.nav-pills > li > a{
    color: #fff;
    transition: opacity 0.4s ease;
}
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
    color: #fff;
    background-color: transparent !important;
    opacity: .6;
}
#menu-collapse{
    margin-top: 7px;
}
.non-radius{
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}
/*-----------*/

/*margin core*/
.m-top{
    margin-top: 10px;
}
.m-bottom{
    margin-bottom: 10px;
}
.margin-md-top-bottom{
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}
.margin-md-top{
    margin-top: 50px !important;
}
.margin-md-bottom{
    margin-bottom: 50px !important;
}
.margin-md-left{
    margin-left: 50px !important;
}
.margin-md-right{
    margin-right: 50px !important;
}


.margin-sm-top-bottom{
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
.margin-sm-top{
    margin-top: 30px !important;
}
.margin-sm-bottom{
    margin-bottom: 30px !important;
}
.margin-sm-left{
    margin-left: 30px !important;
}
.margin-sm-right{
    margin-right: 30px !important;
}

.margin-top-bottom-remove{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.margin-top-remove{
    margin-top: 0 !important;
}
.margin-bottom-remove{
    margin-bottom: 0 !important;
}
.margin-left-remove{
    margin-left: 0 !important;
}
.margin-right-remove{
    margin-right: 0 !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    background-color: transparent;
    color: #009fe1;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background-color: transparent;
    color: #00c8ff;
}
/*-----------*/

/*caption slide*/
.home-banner-tt{
    font-size: 35px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.home-banner-sv{
    background-color: rgba(255,255,255,.2);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
}
.btn-start a{
    height: 50px;
    color: #fff !important;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    padding: 4px 20px 0;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    border-radius: 3px;
    line-height:38px;
    box-shadow: 0px -3px 1px rgba(0, 0, 0, 0.45) inset;
    font-size: 20px;
    font-weight: bold;
    background-color: #428bca;
}
.btn-start a:active{
    color: #F9F9F9 !important;
    line-height: 38px;
    position: relative;
    text-shadow: 0pt 1px 0pt rgba(0, 0, 0, 0.1);
    top: 2px;
}


/*-----Main-----*/
body{
    font-family: "Century Gothic", Arial, Helvetica, sans-serif;
}
#top{
    background-color: #1b1b1e;
    min-height: 45px;
    width: 100%;
}
#top-social{
    background-color: #333;
    padding: 5px 0 2px 20px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-top: 6px;
}
#fixed-nav{
    border-bottom: 1px solid #ccc;
}
#wrap-layout{
    min-height: 760px;
}
/*--------------*/

/*quote-item*/
.quote-item{
    background-color: #82b540;
    position: relative;
    padding: 10px;
    margin-top: 30px;
}
.quote-img{
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 5;
}
.quote-content{
    color: #fff;
    margin-left: 60px;
    margin-right: 10px;
    font-size: 15px;
}

/*feature*/
#feature{
    background: #f8f8f8 url("../img/subtlenet2.png") repeat;
    position: relative;
    z-index: 1;
}
.feature-item{
    margin-top: 15px;
}
.feature-title h3{
    font-size: 20px;
    color: #009fe1;
}
.feature-content{
    background-color: #fff;
    padding: 10px 20px 10px;
    text-align: center;
    position: relative;
}
.feature-content:after,
.feature-content:before{

    -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.5);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 15px;
    z-index: -1;
    width: 50%;
    height: 20%;
    content: "";
    background: rgba(0, 0, 0, 0.7);
    border-radius:10px;
}
.feature-content:before{
    left:10px;
    -moz-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -ms-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
    transform:rotate(-3deg);
}
.feature-content:after{
    right:10px;
    -moz-transform:rotate(3deg);
    -webkit-transform:rotate(3deg);
    -ms-transform:rotate(3deg);
    -o-transform:rotate(3deg);
    transform:rotate(3deg);
}
#slogan{
    width: 100%;
    background-color: rgba(1,101,186,0.05);
}
.slg-center{
    font-size: 27px;
    color: #3c3c3c;
    margin-top: 27px !important;
    margin-bottom: 27px !important;
}
.get-start{
    text-align: center;
}
.get-start a{
    font-size: 0;
    display: inline-block;
}
.find-out h3{
    font-size: 27px;
    color: #3c3c3c;
}
.find-out h3 a{
    color: #00c8ff;
}
.find-out h3 a:hover{
    text-decoration: none;
    color: #4DD8FF;
}

/*banner*/
.banner-feature{
    background: url("../img/feature-banner.jpg") no-repeat;
    background-size: cover;
    min-height: 248px;
}
.banner-pricing{
    background: url("../img/pricing-banner.jpg") no-repeat;
    background-size: cover;
    min-height: 248px;
}
.banner-terms{
    background: url("../img/terms-banner.jpg") no-repeat;
    background-size: cover;
    min-height: 248px;
}
.banner-faqs{
    background: url("../img/faqs-banner.jpg") no-repeat;
    background-size: cover;
    min-height: 135px;
}
.banner-content h1{
    font-size: 63px;
    color: #fff;
}
.banner-content h3{
    font-size: 35px;
    color: #fff;
}
.banner-content p{
    font-size: 28px;
    color: #fff;
}
.extend-banner-form2{
    min-height: 145px;
}

/*my button*/
.my_button{
    color: white;
    display: inline-block;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    margin: 0 15px;
    width: 250px;
    font-weight: bold;
    border-radius: 3px;
    text-shadow:0 1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0px -3px 1px rgba(0, 0, 0, 0.45) inset, 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.my_button:hover{
    text-decoration: none;
    color: #fff;
}
.my_button:active{
    box-shadow: 0pt 0pt 5px rgba(0, 0, 0, 0.5) inset, 0pt -5px 10px rgba(255, 255, 255, 0.1) inset;
    color: #F9F9F9;
    line-height: 60px;
    position: relative;
    text-shadow: 0pt 1px 0pt rgba(0, 0, 0, 0.1);
    top: 2px;
}
.monthly-btn{
    background-color: #009fe1;
}
.yearly-btn{
    background-color: #6e6e6e;
}

/*feature-detail*/
.feat-dt-second{
    padding: 15px 0;
    background: -moz-linear-gradient(left,  rgba(254,254,255,0.05) 0%, rgba(1,101,186,0.05) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(254,254,255,0.05)), color-stop(100%,rgba(1,101,186,0.05)));
    background: -webkit-linear-gradient(left,  rgba(254,254,255,0.05) 0%,rgba(1,101,186,0.05) 100%);
    background: -o-linear-gradient(left,  rgba(254,254,255,0.05) 0%,rgba(1,101,186,0.05) 100%);
    background: -ms-linear-gradient(left,  rgba(254,254,255,0.05) 0%,rgba(1,101,186,0.05) 100%);
    background: linear-gradient(to right,  rgba(254,254,255,0.05) 0%,rgba(1,101,186,0.05) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dfefeff', endColorstr='#0d0165ba',GradientType=1 );

}
.feat-detail-content h1{
    color: #343434;
    font-size: 34px;
    font-weight: bold;
}
.feat-detail-content p{
    font-size: 23px;
    color: #353535;
}

/*pricing-block*/
.wrap-pricing{
    padding-top: 30px;
    width: 85%;
    margin: 0 auto;
}
.wrap-pricing:hover .pricing-block{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}

.pricing-block{
    /*position: relative;*/
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.block-1{
    background-color: #f96450;
}
.block-2{
    background-color: #309aec;
}
.block-3{
    background-color: #82b53f;
}
.pricing-block-head{
    position: relative;
    min-height: 128px;
}
.pricing-block-head h3{
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
}
.price-circle{
    width: 130px;
    height: 130px;
    background: url("../img/circle.png") no-repeat;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.price-circle h4{
    display: inline-block;
    font-size: 35px;
    color: #545454;
    font-weight: bold;
    width: 100%;
    margin-top: 40px;
}
.price-circle span{
    display: inline-block;
    font-size: 13px;
    color: #545454;
    font-weight: bold;
}
.pricing-block-body{
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    min-height: 478px;
}
.pricing-bd-first{
    background-color: #f6f6f6;
    padding: 52px 0 20px;
}
.pricing-bd-first h3{
    width: 100%;
    display: inline-block;
    color: #545454;
    font-size: 20px;
    font-weight: bold;
}
.btn-pri-signup{
    color: white;
    display: inline-block;
    height: 31px;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin: 0 15px;
    width: 80px;
    font-weight: bold;
    border-radius: 3px;
    text-shadow:0 1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0px -3px 1px rgba(0, 0, 0, 0.45) inset, 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.btn-pri-signup:hover{
    text-decoration: none;
    color: #fff;
}
.btn-pri-signup:active{
    box-shadow: 0pt 0pt 5px rgba(0, 0, 0, 0.5) inset, 0pt -5px 10px rgba(255, 255, 255, 0.1) inset;
    color: #F9F9F9;
    line-height: 28px;
    position: relative;
    text-shadow: 0pt 1px 0pt rgba(0, 0, 0, 0.1);
    top: 2px;
}
.sign-1{
    background-color: #f96450;
}
.sign-2{
    background-color: #009fe1;
}
.sign-3{
    background-color: #82b53f;
}
.pricing-bd-first span{
    display: inline-block;
    font-size: 20px;
    color: #545454;
    width: 100%;
    margin-top: 10px;
}
.pricing-bd-second ul li{
    padding: 6px 30px;
    font-size: 15px;
    color: #545454;
}
.pricing-bd-second ul li:nth-child(even){
    background-color: #f6f6f6;
}
.pricing-block-foot a{
    background-color: #009fe1;
    color: #fff;
    font-size: 18px;
    width: 100%;
    display: block;
    padding: 23px 0;
    transition: opacity 0.4s ease;
}
.pricing-block-foot a:hover{
    text-decoration: none;
    opacity: .8;
}

/*qa-item*/
.qa-item{
    min-height: 100px;
}
.qa-item h3{
    font-size: 20px;
    color: #343434;
    font-weight: bold;
}
.qa-item p{
    font-size: 16px;
    color: #343434;
}

/*my-form*/
.login-panel{
    margin: 150px 0;
    box-shadow: 0px 0px 7px 3px rgba(119, 119, 119, 0.3);
    -moz-box-shadow: 0px 0px 7px 3px rgba(119, 119, 119, 0.3);
    -webkit-box-shadow: 0px 0px 7px 3px rgba(119, 119, 119, 0.3);
    border-radius: 7px;
    font-family: "Arial";
}
.my-form-bd{
    padding: 0 45px 15px !important;
}
#my-login{
    border: none;
}
.btn-login{
    background-color: #009fe1;
    color: white;
    display: inline-block;
    height: 42px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    text-shadow:0 1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0px -3px 1px rgba(0, 0, 0, 0.45) inset;
}
.btn-login:hover{
    text-decoration: none;
    color: #fff;
}
.btn-login:active{
    box-shadow: 0pt 0pt 5px rgba(0, 0, 0, 0.5) inset, 0pt -5px 10px rgba(255, 255, 255, 0.1) inset;
    color: #F9F9F9;
    line-height: 20px;
    position: relative;
    text-shadow: 0pt 1px 0pt rgba(0, 0, 0, 0.1);
    top: 2px;
}
.btn-login:focus,
.btn-login:active:focus,
.btn-login.active:focus {
    outline: none;
    color: #fff;
}

.an-acc{
    font-size: 13px;
    color: #888787;
}
.forgot-pass{
    color: #888787;
    font-size: 13px;
    text-decoration: underline;
}
.sign-up-now{
    color: #009fe1;
    font-size: 13px;
    text-decoration: underline;
}
.line{
    width: 100%;
    margin-top: 30px;
    border-top: 1px solid #ccc;
    text-align: center;
    position: relative;
}
.line span{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: inline;
    width: 50%;
    background-color: #fff;
    margin-top: -10px;
    font-size: 13px;
    color: #888787;
}
a.example{
    width: 86%;
    height: 40px;
    display: inline-block;
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    padding: 4px 20px 0;
    margin: 10px auto;
    left: 30px;
    position: relative;
    cursor: pointer;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    line-height:28px;
    box-shadow: 0px -3px 1px rgba(0, 0, 0, 0.45) inset;
}
a.facebook{
    background: #3B5999;
}
a.google-plus {
    background: #f75e3b;
}
a.example:active{
    box-shadow: 0pt 0pt 5px rgba(0, 0, 0, 0.5) inset, 0pt -5px 10px rgba(255, 255, 255, 0.1) inset;
    color: #F9F9F9;
    line-height: 28px;
    position: relative;
    text-shadow: 0pt 1px 0pt rgba(0, 0, 0, 0.1);
    top: 3px;
}
a.example:before{
    content: "";
    width: 35px;
    height: 40px;
    display: block;
    position: absolute;
    padding-top: 10px;
    line-height: 20px;
    top: 0px;
    margin-left: -54px;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0px -3px 1px rgba(0, 0, 0, 0.45) inset;
}
a.facebook:before{
    background: #345194 url("../img/face-ic.png") no-repeat scroll  center;
}
a.google-plus:before {
    background: #f8492a url("../img/ggplus-ic.png") no-repeat scroll  center;
}
a.facebook:active:before,
a.google-plus:active:before{
    box-shadow: 0pt 0pt 5px rgba(0, 0, 0, 0.5) inset, 0pt -5px 10px rgba(255, 255, 255, 0.1) inset;
}

/*own-contact-form*/
#my-contact{
    width: 100%;
    box-shadow: inset 0px 2px 3px 0px rgba(119, 119, 119, 0.64);
    -moz-box-shadow: inset 0px 2px 3px 0px rgba(119, 119, 119, 0.64);
    -webkit-box-shadow: inset 0px 2px 3px 0px rgba(119, 119, 119, 0.64);
    padding-bottom: 80px;
}
#color{
    border: none;
    border-radius: 3px;
    display: inline-block;
    padding: 10px 0;
    text-align: center;
}
.title-contact-page{
    font-size: 35px;
    color: #009fe1;
}
#own-contact-form{
    border: 1px solid #c0c0c0;
    background-color: #e2e2e2;
}
.color-picker{
    position: relative;
}
#colorpicker{
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 999;
    display: none;
}
#btn-position input[type="radio"]{
    display: none;
}
.title-builder{
    font-size: 16px;
    color: #4a4a4a;
    font-weight: 600;
}

.b-left-center{
    width: 36px;
    height: 36px;
    background: url("../img/1.png") no-repeat;
    cursor: pointer;
}
.b-left-center.atv{
    width: 36px;
    height: 36px;
    background: url("../img/1_selected.png") no-repeat;
    cursor: pointer;
}
.b-left-bottom{
    width: 36px;
    height: 36px;
    background: url("../img/2.png") no-repeat;
    cursor: pointer;
}
.b-left-bottom.atv{
    width: 36px;
    height: 36px;
    background: url("../img/2_selected.png") no-repeat;
    cursor: pointer;
}
.b-right-bottom{
    width: 36px;
    height: 36px;
    background: url("../img/3.png") no-repeat;
    cursor: pointer;
}
.b-right-bottom.atv{
    width: 36px;
    height: 36px;
    background: url("../img/3_selected.png") no-repeat;
    cursor: pointer;
}
.b-right-center{
    width: 36px;
    height: 36px;
    background: url("../img/4.png") no-repeat;
    cursor: pointer;
}
.b-right-center.atv{
    width: 36px;
    height: 36px;
    background: url("../img/4_selected.png") no-repeat;
    cursor: pointer;
}
#ctf-type input[type="radio"]{
    display: none;
}
.button-ct-form{
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
    padding: 5px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    background: rgb(102,163,163);
    background: -moz-linear-gradient(top,  rgba(102,163,163,1) 1%, rgba(25,117,117,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(102,163,163,1)), color-stop(100%,rgba(25,117,117,1)));
    background: -webkit-linear-gradient(top,  rgba(102,163,163,1) 1%,rgba(25,117,117,1) 100%);
    background: -o-linear-gradient(top,  rgba(102,163,163,1) 1%,rgba(25,117,117,1) 100%);
    background: -ms-linear-gradient(top,  rgba(102,163,163,1) 1%,rgba(25,117,117,1) 100%);
    background: linear-gradient(to bottom,  rgba(102,163,163,1) 1%,rgba(25,117,117,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66a3a3', endColorstr='#197575',GradientType=0 );
}
.button-ct-form.atv{
    color: #fff;
    background: rgb(125,185,232);
    background: -moz-linear-gradient(top,  rgba(125,185,232,1) 0%, rgba(0,118,207,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,185,232,1)), color-stop(100%,rgba(0,118,207,1)));
    background: -webkit-linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(0,118,207,1) 100%);
    background: -o-linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(0,118,207,1) 100%);
    background: -ms-linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(0,118,207,1) 100%);
    background: linear-gradient(to bottom,  rgba(125,185,232,1) 0%,rgba(0,118,207,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#0076cf',GradientType=0 );
}
.button-ct-form:hover{
    color: #fff;
    background: rgb(125,185,232);
    background: -moz-linear-gradient(top,  rgba(125,185,232,1) 0%, rgba(0,118,207,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,185,232,1)), color-stop(100%,rgba(0,118,207,1)));
    background: -webkit-linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(0,118,207,1) 100%);
    background: -o-linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(0,118,207,1) 100%);
    background: -ms-linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(0,118,207,1) 100%);
    background: linear-gradient(to bottom,  rgba(125,185,232,1) 0%,rgba(0,118,207,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#0076cf',GradientType=0 );
}
.getcode{
    width: 100%;
    font-size: 16px;
    color: #4a4a4a;
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    display: inline-block;
}
.btn-send{
    color: #fff !important;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #009fe1 !important;
}
.btn-send-t{
    width: 100%;
    color: #fff !important;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #009fe1 !important;
}
#my-builder{
    height: 729px;
    background-color: #fff;
    border-right: 1px solid #c0c0c0;
}

#my-custom{
    position: relative;
    height: 729px;
    margin: 0 -15px;
}
#wrap-contact{
    height: 586px;
    overflow-x: hidden;
    position: relative;
}
#preview-on{
    border-top: 1px solid #ccc;;
    background-color: #fff;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}

.input-group-addon .color-whell{
    background-image: url(../img/color_wheel.png);
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
}

/*FAQ*/
#wrap-faq ul.main-faq > li:nth-child(even){
    padding: 15px 0;
    background: -moz-linear-gradient(left, rgba(254,254,255,0.05) 0%, rgba(1,101,186,0.05) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(254,254,255,0.05)), color-stop(100%,rgba(1,101,186,0.05)));
    background: -webkit-linear-gradient(left, rgba(254,254,255,0.05) 0%,rgba(1,101,186,0.05) 100%);
    background: -o-linear-gradient(left, rgba(254,254,255,0.05) 0%,rgba(1,101,186,0.05) 100%);
    background: -ms-linear-gradient(left, rgba(254,254,255,0.05) 0%,rgba(1,101,186,0.05) 100%);
    background: linear-gradient(to right, rgba(254,254,255,0.05) 0%,rgba(1,101,186,0.05) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dfefeff', endColorstr='#0d0165ba',GradientType=1 );
}
#wrap-faq ul.main-faq > li:nth-child(odd){
    padding: 15px 0;
    background: -moz-linear-gradient(right, rgba(254,254,255,0.05) 0%, rgba(1,101,186,0.05) 100%);
    background: -webkit-gradient(linear, right top, left top, color-stop(0%,rgba(254,254,255,0.05)), color-stop(100%,rgba(1,101,186,0.05)));
    background: -webkit-linear-gradient(right, rgba(254,254,255,0.05) 0%,rgba(1,101,186,0.05) 100%);
    background: -o-linear-gradient(right, rgba(254,254,255,0.05) 0%,rgba(1,101,186,0.05) 100%);
    background: -ms-linear-gradient(right, rgba(254,254,255,0.05) 0%,rgba(1,101,186,0.05) 100%);
    background: linear-gradient(to left, rgba(254,254,255,0.05) 0%,rgba(1,101,186,0.05) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dfefeff', endColorstr='#0d0165ba',GradientType=1 );
}

/*Blog*/
.blog-item-wrap,
.box-sidebar{
    padding: 10px;
    box-shadow: 0px 0px 2px 1px rgba(119, 119, 119, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(119, 119, 119, 0.4);
    -webkit-box-shadow: 0px 0px 2px 1px rgba(119, 119, 119, 0.4);
    position: relative;
}
.blog-date-time{
    position: absolute;
    top: 0;
    left: -64px;
    background-color: #009fe1;
    color: #fff;
    text-align: center;
    padding: 0 5px 5px;
}
.blog-date-time span.b-date{
    display: block;
    font-size: 30px;
}
.blog-date-time span.b-time{
    display: block;
    font-size: 13px;
}
.blog-title h3{
    font-size: 25px;
    color: #009fe1;
}
.show-on-blog{
    margin-top: 10px;
    margin-bottom: 10px;
}
.show-on-blog a:first-child{
    padding: 9px 14px;
}
.show-on-blog a:last-child{
    background-color: #FE7C04;
    color: #fff;
    border: 1px solid transparent;
}
.blog-foot{
    margin-bottom: 5px;
}
.blog-foot a.last-ran{
    padding: 9px 12px;
}

form#wrap-search #txt-search{
    background-color: #e8e8e8;
    display: block;
    border: 1px solid #eee;
    width: 100%;
    height: 37px;
    padding-left: 10px;
    border-radius: 3px;
}

form#wrap-search .ipt-search{
    width: 85%;
}

form#wrap-search #btn-search{
    height: 37px;
}

.news-info h4.news-title{
    font-size: 15px;
}
.news-info h4.news-title a{
    font-family: 'Arial';
    font-weight: bold;
    font-size: 13px;
    color: #3b3939;
    line-height: 18px;
}
.news-info span.news-date{
    font-family: 'Arial';
    font-size: 12px;
    margin-top: 10px;
    display: inline-block;
    color: #919191;
}

ul.wrap-news li{
    padding: 10px 0;
    border-bottom: 1px dotted #666;
}
ul.wrap-news li:first-child{
    border-top: 1px dotted #666;
}
ul.wrap-news li a{
    font-family: 'Arial';
    font-weight: bold;
    font-size: 13px;
    color: #3b3939;
    /*line-height: 18px;*/
}

.main-tags .blog-tag{
    background-color: #e6e6e6;
}
.main-tags .blog-tag.active{
    background-color: #009fe1;
    color: #fff;
    border: 1px solid transparent;
}
.sidebar-head-title{
    background-image: url(../img/bg-blog-title.jpg);
    background-repeat: no-repeat;
    background-position: left 0 top 5px;
}

.sidebar-head-title h3{
    display: inline-block;
    font-size: 18px;
    color: #009fe1;
    background-color: #fff;
    font-weight: 600;
    padding-right: 10px;
}

.blog-pagination li a{
    margin: 0 5px;
    color: #333;
}


.ads{
    background-color: #e7e7e7;
}
/*for checkbox*/
.squaredFour {
    width: 21px;
    position: relative;
    margin-right: 10px;
}

.squaredFour label {
    cursor: pointer;
    position: absolute;
    width: 21px;
    height: 21px;
    top: 0;
    left: 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fcfff4;
}

.squaredFour label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 14px;
    height: 8px;
    background: transparent;
    top: 3px;
    left: 2px;
    border: 3px solid #f8492a;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.squaredFour label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.5;
}

.squaredFour input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.squaredlabel{
    color: #4a4a4a;
    font-size: 14px;
}
#type-mess-contact{
    vertical-align: top;
}

.posedo{
    position: relative;
}

#loader{
    position: absolute;
    right: -5px;
    top: 9px;
    display: none;
}

.error-message{
    color: red;
    margin-bottom: 5px;
}

#wrap_terms p,
#wrap-privacy p{
    font-size: 15px;
    line-height: 25px;
}
.new-brand-logo{
    padding: 8px 15px;
}


/*form manager*/
#form-man{
    margin-top: 50px;
    margin-bottom: 50px;
}
.btn-plus-form{
    padding: 40px !important;
}
.btn-plus-form span{
    font-size: 40px;
    color: #13A1FF;
}

.new-list-it{
    background-color: rgba(0,0,0,0.8);
    color: #fff !important;
    border: 1px solid #4c4c4c;
    padding: 11px 15px 12px;
}
.new-list-it:hover{
    background-color: #4c4c4c !important;
    color: #ddd !important;
}

.my-form-item{
    position: relative;
}

.mask-my-form{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0,0,0,0.8);*/
    border: none;
    opacity: 0;
    filter:alpha(opacity=0);
    transition: opacity .3s ease-in-out;
}

.my-form-item:hover .mask-my-form{
    opacity: 1;
    filter:alpha(opacity=100);
}

.mask-my-form > .new-list-it:last-child{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/*toggle checkbox enable-disable*/
span.enable-title{
    margin-top: 5px;
    display: inline-block;
}
.switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

.switch > span {
  position: absolute;
  top: 10px;
  pointer-events: none;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
  color: #fff;
}

input.check-toggle-round-flat:checked ~ .on {
  color: #000;
}

.switch > span.on {
  right: 0;
  padding-left: 2px;
  color: #fff;
}

.switch > span.off {
  left: 0;
  padding-right: 4px;
  color: #000;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 97px;
  height: 34px;
  background-color: #efab22;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #009fe1;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #ffffff;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label {
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 40px;
}

.img-my-form{
    border: 1px solid #ddd;
    overflow: hidden;
    min-height: 257px;
    border-radius: 7px;
}

.bg-getcode,
.receive-view,
.receive-admin{
    min-height: 760px;
}

/*Form 2 action*/
.manager-action-form2{
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #fff;
    display: inline-block;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    margin: 8px;
}
.manager-action-form2:hover,
.manager-action-form2.active{
    text-decoration: none;
    color: #fff;
    background-color: #1995ff;
    border: 1px solid #ccc;
}
.form2-wrap{
    background-color: #fff;
    margin-bottom: 226px;
    padding-top: 10px;
}
.form2-line-title{
    margin: 0px 40px 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    display: block;
    color: #333;
    font-size: 23px;
    font-weight: bold;
}
.inner-form2-wrap{
    max-width: 670px;
    margin: 20px auto;
    padding-bottom: 50px;
}
.link-createctform{
    display: inline-block;
    margin-top: 35px;
    margin-right: 20px;
}
.person-form2 img{
    margin-top: -30px;
}
/*End form 2 action*/

/*Form 3 custom*/
.form3-foot-date ul li{
    display: inline-block;
}
.form3-foot-date ul li:first-child{
    text-align: left;
    color: #009fe1;
}
.form3-foot-date ul li:nth-child(2){
    text-align: center;
    font-weight: 700;
    margin-right: 15px;
    margin-left: 15px;
}
.form3-foot-date ul li:last-child{
    text-align: right;
    color: #ec0000;
}
.form-information{
    margin-bottom: 5px;
}
/*End form 3 custom*/

/*Upgrade custom*/
.text-white{
    color: #fff;
}
.inner-upgrade-wrap{
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-bottom: 110px;
}
.col2-upgrade-mar{
    margin-bottom: 24px;
}
/*End upgrade custom*/

/*Config custom*/
.inner-config-wrap{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-bottom: 100px;
}
.margin-bottom-0{
    margin-bottom: 0;
}
.text-black{
    color: #000 !important;
}
/*End Config custom*/

/*footer*/
#footer{
    width: 100%;
    background-color: #1b1b1e;
    padding: 20px 0;
}
.copyright{
    font-size: 15px;
    color: #00c8ff;
    margin-top: 10px;
    display: inline-block;
}




/*media*/
@media (min-width: 768px) and (max-width: 992px){
    .feature-title h3{
        font-size: 16px;
    }
}
@media (max-width: 420px){
    a.example{
        font-size: 11px;
    }
}
@media (max-width: 992px){
    .blog-date-time{
        top: 10px;
        left: 10px;
    }
}